@using WebApplication1.Models
@model BusinessContactViewModel

@Html.Partial("_HomepageCarousel")

@if (Model.FormSubmittedSuccess == true)
{
    <div class="headline">
        <h3>We got your message</h3>
    </div>  

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">                
                <span>Thanks for taking interest!</span>
                <p>We are eager to help your business thrive!</p>
                <p class="orange">Our marketing team looks into all such queries and they will get back to you very soon!</p>
            </div>
        </div>
    </div>

    <hr class="margin-bottom-40" />
}

else
{
    <div class="contact-us-two">
        <div class="container">
            <div class="row">

                <!-- Contact Form -->
                <div class="contact-form">
                    <!-- Form -->
                @using (Html.BeginForm("BusinessContactUsFormSubmitAsync", "Business", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                        @Html.AntiForgeryToken()
                        <div class="headline">
                            <h3>Business Contact Form</h3>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <!-- Form Group -->
                                <div class="form-group">
                                    @*<input type="text" class="form-control" id="FIRST_NAME" name="FIRST_NAME" placeholder="First Name (Required)" required>*@
                                    @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" , @placeholder = "First Name (Required)" } })
                                    @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name (Required)" } })
                                    @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" id="LAST_NAME" name="LAST_NAME" placeholder="Last Name (Required)" required>*@
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @type = "email" ,  @class = "form-control", @placeholder = "Business Email (Required)" } })
                                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                    @*<input type="email" class="form-control" id="EMAIL" name="EMAIL" placeholder="Business Email (Required)" required>*@
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Office Telephone Number (Required)" } })
                                    @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                                    @*<input type="email" class="form-control" id="PHONE" name="PHONE" placeholder="Office Telephone Number (Required)" Required>*@
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <!-- Form Group -->
                                <div class="form-group">
                                    @Html.EditorFor(model => model.BSNS_NAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Name (Required)" } })
                                    @Html.ValidationMessageFor(model => model.BSNS_NAME, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" id="BSNS_NAME" name="BSNS_NAME" placeholder="Business Name (Required)" required>*@
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.BSNS_WEB, new { htmlAttributes = new { @class = "form-control", @placeholder = "Business Website (Required)" } })
                                    @Html.ValidationMessageFor(model => model.BSNS_WEB, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" id="BSNS_WEB" name="BSNS_WEB" placeholder="Business website (Required)" required>*@
                                </div>
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.BSNS_ADDRESS, new { @class = "form-control", @rows = 3, @placeholder = "Full Address of your business including country (Required)" })
                                    @Html.ValidationMessageFor(model => model.BSNS_ADDRESS, "", new { @class = "text-danger" })
                                    @*<textarea class="form-control" id="BSNS_ADDRESS" name="BSNS_ADDRESS" rows="3" placeholder="Full Address of your business including country (Required)" required></textarea>*@
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.BSNS_REQUEST, new { @class = "form-control", @rows = 6, @placeholder = "Enter Message(Optional)" })
                                    @*<textarea class="form-control" id="CUSTOMFIELD[TRIP_REQUEST]" name="TRIP_REQUEST" rows="6" placeholder="Enter Message  (Optional)"></textarea>*@
                                </div>
                            </div>
                        </div>
                    
                        <button type="submit" class="btn btn-orange">Submit</button>
                        <button type="reset" class="btn btn-default">Reset</button>
                    }

                </div>
            </div>
        </div>
    </div>
}
