@model WebApplication1.Models.DomingoModelBase

@{ 
    if(Model != null && Model.Destination != null)
    {
        ViewBag.Description = Model.Destination.MetaDescription;
        ViewBag.KeyWords = Model.Destination.MetaKeywords;
    }
}

@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Lake baikal</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/Circuit/Asia">Asia</a></li>
            <li class="active">Lake baikal</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container">
    <div class="row blog-page blog-item">
        <div class="col-md-12 md-margin-bottom-60">
            <div class="blog-post-tags">
                <ul class="list-unstyled list-inline blog-info">
                    <li><i class="icon-calendar"></i> February 02, 2013</li>
                    <li><i class="icon-pencil"></i> Diana Anderson</li>
                    <li><i class="icon-comments"></i> <a href="#">24 Comments</a></li>
                </ul>
                <ul class="list-unstyled list-inline blog-tags">
                    <li>
                        <i class="icon-tags"></i>
                        <a href="#">Technology</a>
                        <a href="#">Education</a>
                        <a href="#">Internet</a>
                        <a href="#">Media</a>
                    </li>
                </ul>
            </div>
            <div class="blog margin-bottom-40">
                <h2>Explore the deepest lake on Earth</h2>
            </div>
            <p> Lake baikal holds 20% of all the liquid fresh water in the world! Called the Pearl of Siberia this lake is made of drinkable clean water.
                    Surrounded by rocky terrain and pine forests, the lake is completely frozen in winter, and partly frozen in the spring time.</p>
            <div class="blog-img">
                <img class="img-responsive" src="~/Content/img/Lake-Baikal/Baikal-s03.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<div class="img-box-3 text-center">
    <div class="row">
        <h1 class="text-center">Travelogy club services for Lake Baikal tours</h1><br />
    </div>
    <div class="row">
        <!--Item-1-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/18.png" alt="" class="img-responsive" />
                </div>
                <h4>Planning</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Use out expert team to create the best trip plan for your Trans-Siberian adventures.</small></h3>
            </div>
        </div>

        <!--Item-2-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/passport.png" alt="" class="img-responsive" />
                </div>
                <h4>Visas</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Travelogy club will take care of the travel documents you will need for the trip.</small></h3>
            </div>
        </div>

        <!--Item-3-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/train.png" alt="" class="img-responsive" />
                </div>
                <h4>Booking</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We use our trusted partners on ground to book the train tickets and accomodations.</small></h3>
            </div>
        </div>

        <!--Item-4-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/chatting-2.png" alt="" class="img-responsive" />
                </div>
                <h4>Support</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Stay in touch with our global contact center and the regional partner through the trip.</small></h3>
            </div>
        </div>
    </div>

    <div class="row">

        <!--Item-6-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/hotel-8.png" alt="" class="img-responsive" />
                </div>
                <h4>Accommodation</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Find exciting accommodation in the region: ranging from bunk beds to luxury hotels and traditional wooden cottages.</small></h3>
            </div>
        </div>

        <!--Item-7-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/hills.png" alt="" class="img-responsive" />
                </div>
                <h4>Excursions</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We arrange various excursions around the area surrounding Lake Baikal. Send your enquiry for details of day trips.</small></h3>
            </div>
        </div>

        <!--Item-5-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/iceberg.png" alt="" class="img-responsive" />
                </div>
                <h4>Adventure</h4>
                <div class="bor bg-orange"></div>
                <h3><small>Engage in extreme activities around the lake: Go Snowmobiling, Dog-sledding, Ice-fishing in winter.</small></h3>
            </div>
        </div>

        <!--Item-5-->
        <div class="col-md-3 col-sm-6">
            <!-- Image Box #3 Item -->
            <div class="img-box-3-item">
                <div class="img-box-3-icon">
                    <img src="~/Content/img/flat-icons/minivan-taxi.png" alt="" class="img-responsive" />
                </div>
                <h4>Local Transport</h4>
                <div class="bor bg-orange"></div>
                <h3><small>We can arrange local transports for you, or you can always ask our contact center to arrange it on-demand.</small></h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="block-heading-twelve">
            <a href="/service/ListAllTripTemplates?templateAlias=@Model.Destination.TemplateSearchAlias">
                <h1>Check all @Model.Destination.Name trip ideas!</h1>
            </a>
        </div>        
    </div>
</div>

<hr class="margin-bottom-40" />

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            @if (Request.IsAuthenticated)
            {
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._StartTripPlanningViewModel() { CircuitName = Model.Destination.Name, TemplateAlias = Model.Destination.TemplateSearchAlias };
                    @Html.Partial("_StartTripPlanning", _model)
                }
            }

            else
            {
                @Html.Partial("_JoinNowTripPlanning")
            }
        </div>
        <div class="col-md-6 col-sm-6">
            @if (Request.IsAuthenticated)
            {
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._DownloadBrochureModel() { CircuitName = Model.Destination.Name };
                    @Html.Partial("_DownloadBrochure", _model)
                }
            }
            else
            {
                if (Model != null && Model.Destination != null)
                {
                    @Html.Partial("_SubmitTripRequest", new WebApplication1.Models._SubmitTripRequestViewModel() { CircuitName = Model.Destination.Name });
                }
            }
        </div>
    </div>
</div>



