@model WebApplication1.Models.CircuitModelBase
@using Microsoft.AspNet.Identity;

<div class="row">
    <div class="col-md-12 padd-10">
        <img class="img-responsive" src="~/Content/img/Trans-Siberian/slider001.jpg" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="block-heading-twelve">
            <h3 class="color">Russia <small>world's biggest country!</small></h3>
        </div>
    </div>
</div>

<hr class="margin-bottom-20" />

<div class="about-us-one">
    <div class="about-logo">
        <p>
            Communism has gone away, paving way for a fiercely capitalistic Russia. 
            But what remained is the ideological gap with the 'West'. 
            Travelogy members firmly believe such ideological gaps can only be overcome by travelling. 
            Travel can make best friends out of two strangers! 
        </p>
        <p>
            The largest country on Earth has thousands of miles of rugged terrain, from extreme weather to extreme places, 
            it is a paradise for those with the travel bug! Spread across Eight time zones, this country calls for a trip where you want to lose your wristwatch!
        </p>
    </div>
</div>

<div class="container">
    @{
        DomingoBL.BlObjects.BlViewTrip _nextTrip = null;
        if (Request.IsAuthenticated)
        {
            _nextTrip = ApplicationUserManager.GetImmidiateTrip(User.Identity.GetUserId());
            if (_nextTrip == null)
            {
                <a href="/Service/CreateTripForCountry?country=Russia" class="btn btn-black"><h1 class="white">Start planning for Russia &nbsp; <i class="icon-arrow-right"></i></h1></a>
            }
            else
            {
                @Html.Partial("_ImmediateTrip")
            }
        }
        else
        {
            <h1>Create your own custom package for Russia</h1>
            <h1>
                <a href="/Account/Membership" class="btn-u btn-black">Sign up for FREE and use the Trip Planner &nbsp; <i class="icon-arrow-right"></i></a>
            </h1>
        }
    }

</div>

<hr class="margin-bottom-20" />

@for (var i = 0; i < Model.AllDestinations.Count; i++)
{
    if (i % 4 == 0)
    {
        @Html.Raw("<div class=\"row\">");
    }

    {
        var item = Model.AllDestinations[i];
        @Html.Partial("_DestinationWidget", item)
    }

    if (i % 4 == 3)
    {
        @Html.Raw("</div>");
    }

    if (i == Model.AllDestinations.Count - 1)
    {
        @Html.Raw("</div>");
    }

}