<hr class="margin-bottom-20" />
@model WebApplication1.Models.DomingoModelBase
@using Microsoft.AspNet.Identity;


@Html.Partial("_ImmediateTrip")


<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            @if (Request.IsAuthenticated)
            {
                bool bIsActiveTrip = (ApplicationUserManager.GetImmidiateTrip(User.Identity.GetUserId()) != null);
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._StartTripPlanningViewModel()
                    {
                        CircuitName = Model.Destination.Name,
                        TemplateAlias = Model.Destination.TemplateSearchAlias,
                        IsActiveTrip = bIsActiveTrip
                    };

                    @Html.Partial("_StartTripPlanning", _model)
                }
            }

            @*else
            {
                @Html.Partial("_JoinNowTripPlanning")
            }*@
        </div>
        <div class="col-md-12 col-sm-12">
            @if (Request.IsAuthenticated)
            {
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._DownloadBrochureModel() { CircuitName = Model.Destination.Name };
                    @Html.Partial("_DownloadBrochure", _model)
                }
            }
            else
            {
                if (Model != null && Model.Destination != null)
                {
                    @Html.Partial("_SubmitTripRequest", new WebApplication1.Models._SubmitTripRequestViewModel() { CircuitName = Model.Destination.Name });
                }
            }
        </div>
    </div>
</div>
