@model WebApplication1.Models._DownloadBrochureRequestModel

@using (Html.BeginForm("DownloadBrochureRequestAsync", "Information", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BrochurePath)

    <div class="margin-bottom-20"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5>Want to know more? <span class="orange">Get our online brochure in your mail.</span></h5>
            </div>
        </div>
        <div class="margin-bottom-10"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Leave your name" })
                </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })                
                <p></p>
            </div>
            <div class="col-md-4">
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-mail-forward"></i></span>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Your Email (brochure will be emailed here)" })
                </div>                
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <button class="btn-u" type="submit">Get the Brochure &nbsp;&nbsp; <i class="icon-download"></i></button>
            </div>
        </div>            
    </div>
}
