<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <title>@ViewBag.Title - Travelogy | Science of Travelling</title>

    <!-- Google Tag Manager -->
    @*<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T466XM');
    </script>*@
    <!-- End Google Tag Manager -->
        
    <!-- Description, Keywords and Author -->
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.KeyWords">
    <meta name="author" content="Travelogy Ltd">
    @if (ViewBag.RefreshPage != null)
    {
        <meta http-equiv="refresh" content="60">
    }    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!-- Styles -->
    <!-- Bootstrap CSS -->
   
    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">    
    <link href="~/Content/css/styles/skin-orange.css" rel="stylesheet" id="color_theme">
    <link href="~/Content/css/custom.css" rel="stylesheet">
    <link href="~/Content/assets/css/pages/page_log_reg_v1.css" rel="stylesheet">       
    <link href="~/Content/assets/css/pages/page_search.css" rel="stylesheet">    
    <link href="~/Content/css/styles/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet">
    <link href="~/Content/assets/css/pages/page_404_error.css" rel="stylesheet">
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/pages/portfolio-v2.css" rel="stylesheet" >
    <link href="~/Content/assets/css/pages/page_pricing.css" rel="stylesheet">    

    <!-- Favicon -->
    <link rel="shortcut icon" href="/">     
    <link rel="shortcut icon" href="favicon.ico">

    <!--Google analytics Tracking ID UA-84715163-1-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-84715163-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!--Google analytics Tracking ID UA-84715163-1-->
</head>
<body> 

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T466XM"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="outer">

        <!-- Header two Starts -->
        <div class="header-2">
              
            <!-- Container -->
            <div class="container">

                @{
                    if (!Request.IsAuthenticated)
                    {
                        var url = Request.RawUrl;
                        if (Session["HideCookieWarning"] == null)
                        {
                            <div class="alert alert-block alert-warning">
                                @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
                                <p>
                                    To help you log in to our website and keep your trip planner running, we use cookies. 
                                    By logging on and navigating the site, you agree to our <a href="/Information/Cookies" target="_blank">Cookies Policy</a>.
                                    &nbsp;&nbsp;&nbsp;&nbsp; 
                                    @Html.ActionLink("Got It!", "HideCookieWarning", "Information", new { @returnUrl = url }, new { @class = "orange" })
                                </p>                                
                            </div>
                        }
                    }
                }                

                <div class="row logo">
                    <div class="col-md-3 col-sm-12">
                        <h1><a href="/">Travelogy Club</a></h1>                        
                    </div>
                    
                    <div class="col-md-7 col-sm-12">
                        
                        <!-- Navigation starts.  -->
                        <div class="navy">
                        <ul>
                            @*Login menu items*@
                            @Html.Partial("_LoginPartial")

                            @if (Request.IsAuthenticated)
                            {
                                if (!string.IsNullOrEmpty(ApplicationUserManager.GetUserType(User.Identity.Name)))
                                {
                                    if ((ApplicationUserManager.GetUserType(User.Identity.Name) == "admin")
                                        || (ApplicationUserManager.GetUserType(User.Identity.Name) == "traveloger")
                                        || (ApplicationUserManager.GetUserType(User.Identity.Name) == "editor"))
                                    {
                                        <li>@Html.ActionLink("Dashboard", "index", "Admin")</li>
                                        <li>@Html.ActionLink("Messages", "MessageCenter", "Admin")</li>
                                        <li>@Html.ActionLink("Trips", "Trips", "Admin")</li>
                                    }
                                }
                            }

                            <li>
                                <a href="/Circuit">Destinations</a>
                                @*<ul>
                                    <li>@Html.ActionLink("India", "index", "India")</li>
                                    <li>@Html.ActionLink("Tanzania", "Tanzania", "Circuit")</li>
                                    <li>@Html.ActionLink("Russia", "Russia", "Circuit")</li>
                                    <li>@Html.ActionLink("Mongolia", "Mongolia", "Circuit")</li>
                                    <li>@Html.ActionLink("Europe", "Europe", "Circuit")</li>
                                    <li><a href="/Circuit">Browse All</a></li>
                                </ul>*@
                            </li>

                            @if (Request.IsAuthenticated)
                            {
                                if (string.IsNullOrEmpty(ApplicationUserManager.GetUserType(User.Identity.Name)))                                   
                                {
                                    <li>@Html.ActionLink("Trip Planner", "Tripplanning", "Service")</li>
                                    <li>@Html.ActionLink("Travel Profile", "TravellerProfile", "Manage")</li>
                                    <li>@Html.ActionLink("My Messages", "MessageCenter", "Service")</li>
                                }
                            }
                            else
                            {
                                <!-- Main menu -->
                                @*<li>@Html.ActionLink("Trip Planner", "Tripplanning", "Service")</li>*@
                                <li>
                                    <a href="#">Information</a>
                                    <ul>
                                        <li>@Html.ActionLink("About Us", "AboutUs", "Information")</li>
                                        <li>@Html.ActionLink("Contact Us", "ContactUs", "Information")</li>
                                        <li>@Html.ActionLink("F.A.Q.", "FAQ", "Information")</li>
                                        <li>@Html.ActionLink("Privacy Policy", "Privacy", "Information")</li>
                                        <li>@Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Information")</li>
                                    </ul>
                                </li>
                            }

                            
                        </ul>                                               
                    </div>
                    <!-- Navigation ends -->
                </div>                
                <div class="col-md-2 col-sm-12 text-center">
                    <div class="margin-bottom-10"></div>
                    <a href="/">
                        <img src="~/Content/img/logo1-default-small.png" />
                    </a>                                       
                </div>
            </div>
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("_LogoutPartial")                    
            }
        </div>
    </div>
    <!-- Header two ends -->    
    @if (!String.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["ShowBetaWarning"]))
    {
        <div class="alert alert-block alert-warning fade in text-center">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>Welcome to the all new Travelogy club portal - beta version!</h4>
            <h6>We are in the process of testing this site now. It may take us a few days to get everything sorted!</h6>
        </div>
    }

    <!-- Main content starts -->
    <div class="main-block">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <!-- Main content ends -->

    <!-- Foot Starts -->

    <div class="foot">
        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!-- Foot Item -->
                    <div class="foot-item">
                        <!-- Heading -->
                        <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About</h5>
                        <p class="orange">Travelogy club is a platform created to offer 360 degree solution for travel to exotic destinations.</p>                        
                    </div>
                    <div class="margin-bottom-10"></div>
                    <h5 class="bold white margin-bottom-10">Find us on social media</h5>
                    <div class="brand-bg white">
                        <!-- Social Media Icons -->
                        <a href="https://www.facebook.com/travelogyclub/" target="_blank" class="blue"><i class="fa fa-facebook circle-3"></i> Facebook</a>
                        <a href="https://twitter.com/travelogyclub" target="_blank" class="blue"><i class="fa fa-twitter circle-3"></i> Twitter</a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6">
                    <!-- Foot Item -->
                    <div class="foot-item">
                        <!-- Heading -->
                        <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us</h5>
                        <!-- Foot Item Content -->
                        <div class="foot-item-content address">
                            <p class="tel white">                                
                                <i class="fa fa-phone"></i>020 3318 6049 (Customer Care)<br />
                                @*<i class="fa fa-phone"></i>+44 20 8560 2747 (U.K. Business Queries)<br />*@
                                @*<i class="fa fa-phone"></i>+91 98366 97183 (India Customer Care) <br />*@
                                <i class="fa fa-envelope"></i>  Mail : <a href="mailto:info@travelogyclub.com">info@travelogyclub.com</a><br />
                                <i class="fa fa-building-o"></i> Registered Address : <br />1 Jordans Close, Isleworth <br />Greater London. Post Code: TW7 4JB. <br />
                                Company House Reg # <a href="https://beta.companieshouse.gov.uk/company/08436057" target="_blank" class="orange">08436057</a> 
                                @*<i class="fa fa-calendar"></i> Business Hours : Sales 9:30 - 5:30 India and U.K. <br />
                                <i class="fa fa-clock-o"></i>Support : 24x7*@
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <img src="~/Content/img/logo1-default-small.png" />                    
                </div>
            </div>
        </div>
    </div>

        <!-- Foot Ends -->
        <!-- Footer Starts -->

        <footer>
            <!-- Container -->
            <div class="container">
                <!-- Footer Content -->
                <!-- Paragraph -->
                <p class="pull-left orange">Copyright &copy; 2016 - <a href="/">Travelogy Ltd</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small class="orange">Icons by vectors market at <a href="http://www.flaticon.com/" target="_blank">www.flaticon.com</a></small> </p>
                <ul class="list-inline pull-right">
                    <!-- List -->
                    <li><a href="~/Information/FAQ">FAQ</a></li>
                    <li><a href="~/Information/TermsAndConditions">Terms &amp; Conditions</a></li>
                    <li><a href="~/Information/Privacy">Privacy Policy</a></li>
                    <li><a href="~/Information/Philosophy">Philosophy</a></li>
                    <li><a href="~/Information/AboutUs">About</a></li>
                    <li><a href="~/Information/ContactUs">Contact</a></li>
                </ul>
                <!-- Clearfix -->
                <div class="clearfix"></div>
            </div>
        </footer>

        <!-- Footer Ends -->

    </div>

    <span class="totop"><a href="/"><i class="fa fa-angle-up bg-color"></i></a></span>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", required: false)
</body>
</html>
