@model WebApplication1.Models.TripViewModel


@if (Model.CreateTripTemplate != null)
{
    <div class="headline"><h2>Create a trip plan:</h2></div>

    using (Html.BeginForm("CreateTrip", "Service", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken();

        // the templateId
        @Html.HiddenFor(p => p.CreateTripViewModel.TemplateId);
        @*@Html.HiddenFor(p => p.CreateTripViewModel.StartDate);*@
        @*@Html.HiddenFor(p => p.CreateTripViewModel.DestinationId);*@

        <div class="container blog-full-width">
            <div class="blog margin-bottom-20">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="blog-img">
                            <img class="img-responsive" src="@Model.CreateTripTemplate.DlTemplate.ThumbnailPath" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h2><a href="#">@Model.CreateTripTemplate.DlTemplate.Name</a></h2>
                        <div class="blog-post-tags">
                            <ul class="list-unstyled list-inline blog-info">
                                <li><i class="icon-calendar"></i>Best time to visit: @Model.CreateTripTemplate.DlTemplate.BestTimeToVisit</li>
                                <li><i class="icon-location-arrow"></i> Usually starts at: @Model.CreateTripTemplate.DlTemplate.StartLocation</li>
                                <li><i class="icon-suitcase"></i> Usual Duration: @Model.CreateTripTemplate.DlTemplate.DurationDaysMin to @Model.CreateTripTemplate.DlTemplate.DurationDaysMax Days</li>
                                <li><i class="icon-tags"></i> Technology, Education, Internet, Media</li>
                            </ul>
                        </div>
                        <p>@Model.CreateTripTemplate.DlTemplate.Description</p>
                    </div>
                </div>                
            </div>

            @if (!String.IsNullOrEmpty(Model.CreateTripTemplate.DlTemplate.AdditionalHtml))
            {
                <div class="container">
                    <div class="row margin-bottom-20">
                        @Html.Raw(Model.CreateTripTemplate.DlTemplate.AdditionalHtml)
                    </div>
                </div>                
            }   

            <div class="row">
                <div class="col-md-6">
                    <h3>Approximate date of your trip :  </h3>
                    <p class="orange">This is an approximate date you choose for planning, the exact date will be worked out when you book it.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">@Html.TextBoxFor(p => p.CreateTripViewModel.StartDate, new { @class = "form-control", type = "date" })</div>
                <div class="col-md-12">@Html.ValidationMessageFor(p => p.CreateTripViewModel.StartDate, "", new { @class = "text-danger" })</div>
            </div>
            
            <div class="media margin-bottom-20">
            @foreach (var step in Model.CreateTripTemplate.DlTemplateSteps)
            {
                <h3>@step.ShortDescription</h3>
                <p>@step.LongDescription</p>
            }
            </div>
            <div class="col-md-12 text-right">
                <p><button class="btn-u btn-u-lg btn-u-orange" type="submit"><i class="icon-cogs "></i> Add to my trip</button></p>
            </div>
        </div>
    };
}

