@model  DomingoBL.BlObjects.BlViewTrip

@if (@Model != null && @Model.DlTripView != null)
{
    <h3>Trip to @Model.DlTripView.Name starting at @Model.DlTripView.StartLocation <small class="orange"> [ Status: @Model.DlTripView.Status ]</small></h3>

    <div class="search-blocks search-blocks-top-yellow">
        <div class="row">
            <div class="col-md-4 search-img">
                <img class="img-responsive img-border" src="@Model.DlTripView.ThumbnailPath" alt="">
                <ul class="list-unstyled">
                    <li><i class="icon-calendar"></i>  
                        Trip starts on: 
                        @if (Model.DlTripView.StartDate.HasValue)
                        { 
                            @Model.DlTripView.StartDate.Value.ToShortDateString() 
                        }
                        else
                        {
                            Html.Raw("Not planned yet");
                        }
                    </li>
                    <li><i class="icon-map-marker"></i> Trip starts at: @Model.DlTripView.StartLocation</li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>@Model.DlTripView.NickName</h2>
                <h4 class="orange">Your trip to @Model.DlTripView.Name</h4>               
                <p>@Model.DlTripView.Description</p>
                <p>
                    <a href="/Service/ViewTrip?tripId=@Model.DlTripView.Id" class="btn btn-black">View trip</a>
                    <a href="/Service/EditTrip?tripId=@Model.DlTripView.Id" class="btn btn-orange">Manage trip</a>
                    <a href="/Service/DeleteTrip?tripId=@Model.DlTripView.Id" class="btn btn-red">Discard trip</a>                    
                </p>                
            </div>
        </div>
        <div id="dialog-confirm" title="Empty the recycle bin?">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
            These items will be permanently deleted and cannot be recovered. Are you sure?</p>
        </div>
    </div>
}


