@model  DomingoBL.BlObjects.BlViewTrip

@if (@Model != null && @Model.DlTripView != null)
{
    <h3>Trip: @Model.DlTripView.NickName starting at @Model.DlTripView.StartLocation <small class="orange"> [ Status: @Model.DlTripView.Status ]</small></h3>

    <div class="search-blocks search-blocks-top-yellow">
        <div class="row">
            <div class="col-md-4 search-img">
                <img class="img-responsive img-border" src="@Model.DlTripView.ThumbnailPath" alt="">
                <ul class="list-unstyled">
                    <li><i class="icon-calendar"></i>  
                        Trip starts on: 
                        @if (Model.DlTripView.StartDate.HasValue)
                        { 
                            @Model.DlTripView.StartDate.Value.ToShortDateString() 
                        }
                        else
                        {
                            Html.Raw("Not planned yet");
                        }
                    </li>
                    <li><i class="icon-map-marker"></i> Trip starts at: @Model.DlTripView.StartLocation</li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>@Model.DlTripView.NickName</h2>
                <h4 class="orange">Your trip to @Model.DlTripView.Name</h4>  
                @{ 
                    System.Text.StringBuilder _tripSummary = new System.Text.StringBuilder();
                    if(Model.DlTripStepsView != null)
                    {
                        foreach (var _step in Model.DlTripStepsView)
                        {
                            _tripSummary.AppendFormat("{0}...", _step.Destination);
                        }
                    }


                    if (_tripSummary.Length == 0) { _tripSummary.Append(Model.DlTripView.Description); }

                    <h5 class="orange">Planned destinations:</h5>
                    <h5>@_tripSummary</h5>

                    if(Model.DlTripView.EstimatedCost.HasValue && Model.DlTripView.EstimatedCost.Value > 0)
                    {
                        <div class="margin-bottom-10"></div>
                        <h6>Estimated cost: @Model.DlTripView.TripCurrency &nbsp; @Model.DlTripView.EstimatedCost.Value.ToString("N2")</h6>
                    }
                }
                <div class="margin-bottom-20"></div>
                <p>
                    <a href="/Service/ViewTrip?tripId=@Model.DlTripView.Id" class="btn btn-black">View trip</a>
                    <a href="/Service/EditTrip?tripId=@Model.DlTripView.Id" class="btn btn-orange">Manage trip</a>
                    <a href="/Service/DeleteTrip?tripId=@Model.DlTripView.Id" class="btn btn-red">Discard trip</a>                    
                </p>                
            </div>
        </div>        
    </div>
}


