@model WebApplication1.Models.AccommodationBookingViewModel

@Html.Partial("_HomepageCarousel")

<div class="headline">
    <h2>Booking Request for Accommodation</h2>    
</div>    

<div>
    @using (Html.BeginForm("SaveTripBookingAccommodationAsync", "Service", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.TripStepId)
        @Html.HiddenFor(model => model.TripId)

        <div class="panel panel-orange">
            <div class="panel-body">

                @Html.LabelFor(model => model.AccommodationType)
                <div class="row margin-bottom-10">
                    <div class="col-md-5 col-md-offset-0">
                        @Html.DropDownListFor(model => model.AccommodationType, Model.ListOfAccommodationTypes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AccommodationType, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.LabelFor(model => model.CheckinDate)
                <div class="row margin-bottom-10">
                    <div class="col-md-3 col-md-offset-0">
                        @Html.EditorFor(model => model.CheckinDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.CheckinDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.LabelFor(model => model.CheckoutDate)
                <div class="row margin-bottom-10">
                    <div class="col-md-3 col-md-offset-0">
                        @Html.EditorFor(model => model.CheckoutDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.CheckoutDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.LabelFor(model => model.Notes)                
                <div class="row margin-bottom-10">
                    <div class="col-md-11 col-md-offset-0">
                        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", @rows = 4 })                        
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger"})
                    </div>
                </div>

                @Html.LabelFor(model => model.SpecialRequests)
                <div class="row margin-bottom-10">
                    <div class="col-md-11 col-md-offset-0">
                        @Html.TextAreaFor(model => model.SpecialRequests, new { @class = "form-control", @rows = 4 })
                        @Html.ValidationMessageFor(model => model.SpecialRequests, "", new { @class = "text-danger" })
                    </div>
                </div>                             
            </div>
        </div>

        <div class="row margin-bottom-20">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <input type="reset" value="Reset" class="btn btn-default" />
                </div>                
            </div>
        </div>

        @Html.ValidationMessage("blError.ErrorMessage", new { @class = "text-danger" })
    }

    <div>
        @Html.ActionLink("Go back to trip details", "EditTrip", new { @tripId = Model.TripId })
    </div>
</div>

