@model WebApplication1.Models.TripViewModel

@Html.Partial("_HomepageCarousel")

@if (Model.ActiveTrip != null)
{
    <div class="headline">
        <h2>@Model.ActiveTrip.DlTripView.NickName ( trip to @Model.ActiveTrip.DlTripView.Name ) <span class="orange"> [Status: @Model.ActiveTrip.DlTripView.Status ]</span> </h2>
    </div>

    <hr class="margin-bottom-20">

    <div class="img-box-3 text-center">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/airplane.png" alt="" class="img-responsive" />
                    </div>
                    <h4>
                        @if (Model.ActiveTrip.DlTripView.StartDate.HasValue)
                        {
                            @Model.ActiveTrip.DlTripView.StartDate.Value.ToLongDateString()
                        }
                        else
                        {
                            @Html.Raw("Not planned")
                        }
                    </h4>
                    <h6 class="orange">(Planned date)</h6>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/group.png" alt="" class="img-responsive" />
                    </div>
                    <h4>
                        @Model.ActiveTrip.DlTripView.PaxAdults Adults
                        @if (Model.ActiveTrip.DlTripView.PaxMinors > 0)
                        {
                            @Html.Raw("and ") @Model.ActiveTrip.DlTripView.PaxMinors @Html.Raw(" minor(s)")
                        }
                    </h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/maps-and-flags-4.png" alt="" class="img-responsive" />
                    </div>
                    <h6 class="orange">Starts at: @Model.ActiveTrip.DlTripView.StartLocation</h6>
                    <h5>Flying from: @Model.ActiveTrip.DlTripView.HomeLocation</h5>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/money.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Estimated cost:</h4>
                    <h5 class="orange">
                        @if (Model.ActiveTrip.DlTripView.EstimatedCost.HasValue)
                        {
                            @Model.ActiveTrip.DlTripView.TripCurrency
                            @Html.Raw(" ")
                            @Model.ActiveTrip.DlTripView.EstimatedCost.Value.ToString("N2")
                        }
                        else
                        { @Html.Raw("n/a")}
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <hr class="margin-bottom-40">
}

@if (Model != null && Model.CreateTripTemplate != null)
{
    <div class="headline"><h1>Add @Model.CreateTripTemplate.DlTemplate.Name to my trip:</h1></div>

    using (Html.BeginForm("AddCircuitToTripSubmit", "Service", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken();

        // the templateId
        @Html.HiddenFor(p => p.CreateTripTemplate.DlTemplate.Id);
        @Html.HiddenFor(p => p.ActiveTrip.DlTripView.Id);

        <div class="container blog-full-width">
            <div class="blog margin-bottom-20">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="blog-img">
                            <img class="img-responsive" src="@Model.CreateTripTemplate.DlTemplate.ThumbnailPath" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <h2>@Model.CreateTripTemplate.DlTemplate.Name</h2>
                        <p>@Model.CreateTripTemplate.DlTemplate.Description</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-bottom-20">&nbsp;</div>
                    <div class="col-md-12">
                        <h4>
                            <button class="btn-u btn-u-orange" type="submit">Yes, add to @Model.ActiveTrip.DlTripView.NickName &nbsp; &nbsp; <i class="icon-arrow-right"></i></button>
                            &nbsp;<a class="btn btn-black" href="/Service/ViewTrip?tripId=@Model.ActiveTrip.DlTripView.Id">No, take me back to trip planner &nbsp; &nbsp; <i class="icon-arrow-left"></i></a> 
                        </h4>                        
                    </div>
                </div>
                
            </div>

            @if (!String.IsNullOrEmpty(Model.CreateTripTemplate.DlTemplate.AdditionalHtml))
            {
                <div class="row margin-bottom-20">
                    @Html.Raw(Model.CreateTripTemplate.DlTemplate.AdditionalHtml)
                </div>
            }

            <div class="row">                
                @foreach (var step in Model.CreateTripTemplate.DlTemplateSteps)
                {
                    <div class="col-md-12">
                        <h3>@step.Destination</h3>
                        <h4 class="orange">@step.ShortDescription</h4>
                        <p>@step.LongDescription</p>                    
                    </div>                    
                }
            </div>   
            
            <div class="row">
                <div class="col-md-12 margin-bottom-20">&nbsp;</div>
                <div class="col-md-12">
                    <h4>
                        <button class="btn-u btn-u-orange" type="submit">Yes, add to @Model.ActiveTrip.DlTripView.NickName &nbsp; &nbsp; <i class="icon-arrow-right"></i></button>
                        &nbsp;<a class="btn btn-black" href="/Service/ViewTrip?tripId=@Model.ActiveTrip.DlTripView.Id">No, take me back to trip planner &nbsp; &nbsp; <i class="icon-arrow-left"></i></a>
                    </h4>
                </div>
            </div>         
        </div>
    }
}
