@model WebApplication1.Models.EditTripViewModel

<script>
    $(function () {
        $("#ActiveTrip_DlTripView_StartDate").datepicker();
        $("#ActiveTrip_DlTripView_StartDate").datepicker("option", "dateFormat", "DD, d MM, yy");
    });
</script>

@Html.Partial("_HomepageCarousel")

@*if there is an active trip for rditing ---*@
@if (Model.ActiveTrip != null)
{
    <div class="headline">
        <h3>
            @Model.ActiveTrip.DlTripView.NickName 
            <small class="orange">[Your trip to: @Model.ActiveTrip.DlTripView.Name] - Trip Ref # @Model.ActiveTrip.DlTripView.Id</small> 
        </h3>            
    </div>

    <div class="img-box-3 text-center">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/airplane.png" alt="" class="img-responsive" />
                    </div>
                    <h4>
                        @if (Model.ActiveTrip.DlTripView.StartDate.HasValue)
                        {
                            @Model.ActiveTrip.DlTripView.StartDate.Value.ToLongDateString()
                        }
                        else
                        {
                            @Html.Raw("Not planned")
                        }
                    </h4>
                    <h6 class="orange">(Planned date)</h6>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/group.png" alt="" class="img-responsive" />
                    </div>
                    <h4>
                        @Model.ActiveTrip.DlTripView.PaxAdults Adults
                        @if (Model.ActiveTrip.DlTripView.PaxMinors > 0)
                        {
                            @Html.Raw("and ") @Model.ActiveTrip.DlTripView.PaxMinors @Html.Raw(" minor(s)")
                        }
                    </h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/maps-and-flags-4.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Starts at: @Model.ActiveTrip.DlTripView.StartLocation</h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/money.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Estimated cost:</h4>
                    <h5 class="orange">
                        @if (Model.ActiveTrip.DlTripView.EstimatedCost.HasValue)
                        {
                            @Model.ActiveTrip.DlTripView.TripCurrency
                            @Html.Raw(" ")
                            @Model.ActiveTrip.DlTripView.EstimatedCost.Value.ToString("N2")
                        }
                        else
                        { @Html.Raw("n/a")}
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <hr class="margin-bottom-20">
    <h2>Current status: @Model.ActiveTrip.DlTripView.Status &nbsp;&nbsp; 
        @if (Model.ActiveTrip.DlTripView.Status == DomingoBL.TripStatus.planned.ToString())
        {
            <a class="btn-u btn-orange" href="/Service/StartTripBooking?tripId=@Model.ActiveTrip.DlTripView.Id">Start Booking Process</a>
            <small>&nbsp;&nbsp;&nbsp;&nbsp;(There is no payment required until you actually book)</small>
        }

        else if (Model.ActiveTrip.DlTripView.Status == DomingoBL.TripStatus.consulting.ToString())
        {
            <small>&nbsp;&nbsp;&nbsp;&nbsp;(Your trip is being reviewed by our Travelogers)</small>
        }

    </h2>
    <hr class="margin-bottom-40">             

        <div class="tab-v1">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab">Trip Summary</a></li>
                <li><a href="#booking" data-toggle="tab">Booking details</a></li>     
                <li><a href="#messages" data-toggle="tab">Messages</a></li>                       
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="details">
                @using (Html.BeginForm("SaveTripAsync", "Service", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken();
                    @Html.HiddenFor(p => p.ActiveTrip.DlTripView.Id);

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h6>Planned start date: 
                            @if (Model.ActiveTrip.DlTripView.StartDate.HasValue)
                            { 
                                @Model.ActiveTrip.DlTripView.StartDate.Value.ToLongDateString()
                            }
                            </h6>                            
                            <p>@Html.TextBoxFor(model => model.ActiveTrip.DlTripView.StartDate, new { @class = "form-control" })</p>
                            <h6 class="orange">(Choose new date to change)</h6>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h6>Start Location:</h6>
                            <p>@Html.DropDownListFor(model => model.ActiveTrip.DlTripView.StartLocation, Model.TripStartLocationOptions, new { @class = "form-control" })</p>
                            @*<p>@Html.TextBoxFor(model => model.ActiveTrip.DlTripView.StartLocation, new { @class = "form-control" }) </p> TripStartLocationOptions*@
                        </div>
                        <div class="col-md-3 col-sm-6">
                            @{
                                var ListOfCurrencies = new List<SelectListItem>();
                                ListOfCurrencies.AddRange(new[]{
                                    new SelectListItem() { Text = "GBP", Value = "GBP" },
                                    new SelectListItem() { Text = "EUR", Value = "EUR" },
                                    new SelectListItem() { Text = "USD", Value = "USD" },
                                    new SelectListItem() { Text = "INR", Value = "INR" }
                                });
                            }
                            <h6>Preferred Currency:</h6>
                            <p>
                                @Html.DropDownListFor(model => model.ActiveTrip.DlTripView.TripCurrency, ListOfCurrencies, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ActiveTrip.DlTripView.TripCurrency, "", new { @class = "text-danger" })
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            @{
                                var ListOfClasses = new List<SelectListItem>();
                                ListOfClasses.AddRange(new[]{
                                    new SelectListItem() { Text = "LUXURY", Value = "LUXURY" },
                                    new SelectListItem() { Text = "STANDARD", Value = "STANDARD" },
                                    new SelectListItem() { Text = "ECONOMY", Value = "ECONOMY" }
                                });
                            }

                            <h6>Preferred Travel Style:</h6>
                            <p>
                                @Html.DropDownListFor(model => model.ActiveTrip.DlTripView.TripType, ListOfClasses, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ActiveTrip.DlTripView.TripType, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h6>Flying out from:</h6>
                            <p>@Html.EditorFor(model => model.ActiveTrip.DlTripView.HomeLocation, new { htmlAttributes = new { @class = "form-control", @maxlength = 49 } })</p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h6>Adults (above 15 yrs old):</h6>
                            <p>@Html.EditorFor(model => model.ActiveTrip.DlTripView.PaxAdults, new { htmlAttributes = new { @class = "form-control" } })</p>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <h6>Minors (below 15 yrs old):</h6>
                            <p>@Html.EditorFor(model => model.ActiveTrip.DlTripView.PaxMinors, new { htmlAttributes = new { @class = "form-control" } })</p>
                        </div>
                    </div>

                    <div class="margin-bottom-20">
                        <p><button class="btn btn-orange" type="submit"><i class="icon-save"></i>&nbsp; Save trip</button></p>
                    </div>

                    <div class="row margin-bottom-20">
                        <div class="col-md-12">
                            <div class="margin-bottom-10"></div>
                            @if (Model.ActiveTrip.DlTransportsBookingsView != null)
                            {
                                if (Model.ActiveTrip.DlTransportsBookingsView.Count > 0)
                                {
                                    var _bookings = Model.ActiveTrip.DlTransportsBookingsView.Where(p => p.TripStepId == 0).ToList();
                                    foreach (var _booking in _bookings)
                                    {
                                        <h4 class="orange">Flight booking# @_booking.Id</h4>
                                        <p>@_booking.TransportFrom to @_booking.TransportTo on @_booking.BookingDate.Value.ToShortDateString()</p>
                                    }
                                }
                            }
                            <a class="btn btn-orange" href="/Service/AddFlightBooking?TripId=@Model.ActiveTrip.DlTripView.Id"><i class="icon-plane"></i>&nbsp; Add Flight Booking</a>
                        </div>
                    </div>                    
                    
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">

                            @for (int x = 0; x < Model.ActiveTrip.DlTripStepsView.Count; x++)
                            {
                                var tripStep = Model.ActiveTrip.DlTripStepsView[x];
                                @Html.HiddenFor(p => p.ActiveTrip.DlTripStepsView[x].Id)

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>@tripStep.Destination</h4>
                                                <h5 class="orange">@tripStep.ShortDescription</h5>
                                                <h5>
                                                    From:
                                                    @if (tripStep.StartDate.HasValue)
                                                    { @tripStep.StartDate.Value.ToShortDateString() }
                                                    else
                                                    { @Html.Raw("Not planned")}
                                                    -- to :
                                                    @if (tripStep.EndDate.HasValue)
                                                    { @tripStep.EndDate.Value.ToShortDateString() }
                                                    else
                                                    { @Html.Raw("Not planned")}
                                                </h5>                                                
                                            </div>

                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-6">
                                                        <h5>Planned Duration: @tripStep.Duration Days</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-6">
                                                        <p>Change to: @Html.EditorFor(p => p.ActiveTrip.DlTripStepsView[x].Duration, new { @class = "form-control" })</p>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6">
                                                        <button class="btn btn-orange" type="submit">Save Trip</button>
                                                    </div>
                                                </div>
                                                <div class="margin-bottom-10"></div>
                                            </div>                                            
                                                                                      

                                            <div class="col-md-12 margin-bottom-20">
                                                <p>@tripStep.LongDescription</p>
                                            </div>

                                            @if (!string.IsNullOrEmpty(Model.ActiveTrip.DlTripStepsView[x].TravelogerNote))
                                            {
                                                <div class="col-md-9">
                                                    <h5 class="orange">Traveloger's Notes:</h5>
                                                    <p class="orange">@Model.ActiveTrip.DlTripStepsView[x].TravelogerNote</p>
                                                </div>
                                            }

                                            <div class="col-md-12">
                                                <a class="btn btn-default" href="/Service/AddFlightBooking?TripId=@tripStep.TripId&tripStepId=@tripStep.Id"><i class="icon-plane"></i>&nbsp; Add Domestic Transfer</a>
                                                <a class="btn btn-default" href="/Service/AddTripBookingAccommodation?tripStepId=@tripStep.Id&tripId=@tripStep.TripId"><i class="icon-building"></i>&nbsp;Add Accommodation</a>
                                                <div class="margin-bottom-10"></div>                                              
                                            </div>
                                            <div class="col-md-12">
                                                <h5>Add notes:</h5>
                                                <p>@Html.TextAreaFor(p => p.ActiveTrip.DlTripStepsView[x].TravellerNote, new { @class = "form-control" })</p>
                                                <div class="margin-bottom-20"></div>
                                                @*<button class="btn btn-default" type="submit">Save Notes</button>*@
                                                <div class="margin-bottom-20"></div>
                                                <button class="btn btn-orange" type="submit">Save Trip</button>
                                                <a class="btn btn-red" href="/Service/RemoveDestinationFromTrip?TripId=@tripStep.TripId&tripStepId=@tripStep.Id">Remove @tripStep.Destination from my trip</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                                
                            }

                        </div>
                    </div>
                } 
                </div>
                <div class="tab-pane" id="booking">
                    @Html.Partial("_TripBookings", Model.ActiveTrip)
                </div>     
                
                <div class="tab-pane" id="messages">
                    <h4>Messages for your trip [@Model.ActiveTrip.DlTripView.Id]</h4>
                    @{
                        // if there are no messages sent for this trip - start a descussion
                        if (Model.ActiveTrip.DlTripView.ThreadId == null || Model.ActiveTrip.DlTripView.ThreadId == 0)
                        {
                            var _model = new WebApplication1.Models.MessageViewModel() { TripId = Model.ActiveTrip.DlTripView.Id };
                            Html.RenderPartial("_MessageThreadStart", _model);
                        }

                        if (Model.ActiveTrip.DlTripView.ThreadId > 0)
                        {
                            DomingoBL.MessageCollection _thread = null;
                            DomingoBL.ThreadManager.GetMessageThreadById(Model.ActiveTrip.DlTripView.ThreadId.Value, out _thread);
                            if (_thread != null)
                            {
                                var _model = new WebApplication1.Models.MessageListItemViewModel()
                                { MessageThread = _thread, TripId = Model.ActiveTrip.DlTripView.Id, ShowTripViewLink = false };
                                Html.RenderPartial("_MessageThread", _model);
                            }
                        }
                    }
                </div>              
            </div>
        </div>        

        <h1>@Html.ValidationSummary()</h1>
    
}
@*end of edit trip section*@


@if (Model.RelatedTemplates != null && Model.RelatedTemplates.Count > 0)
{

    <div class="headline">
        <h2>Related trips</h2>
    </div>
        <div class="margin-bottom-20">
            <p class="orange">Following Trip(s) are suggested for you to add to the current trip. You can combine multiple circuits to plan a longer trip.</p>
        </div>

    foreach (var template in Model.RelatedTemplates)
    {
        @Html.Partial("_TripTemplateWidget", new WebApplication1.Models.TripTemplateWidgetViewModel { TripId = Model.ActiveTrip.DlTripView.Id, TripTemplate = template })
    }
}