@model WebApplication1.Models.MessageListModel

<h3>@Model.Header</h3>
<h5>@Model.Description</h5>

@foreach (var item in Model.AllMessages)
{
    <h5>@item.Thread.Title <small>Discussion started: @item.Thread.CreatedDate</small> </h5>
    foreach (var message in item.Messages)
    {
        <h6>@message.Body</h6>
    }

}
