@model WebApplication1.Models.TripViewModel

@Html.Partial("_HomepageCarousel")


@*if the user is looking at templates, list them*@ 

@if (@Model.AllTemplates != null)
{
    Html.RenderPartial("_Trip_ShowTemplates", Model);
}        

@*if the user is creating a new trip - show the form*@
@if (Model.CreateTripTemplate != null)
{
    Html.RenderPartial("_Trip_CreateNewTrip", Model);    
}


@*if there is an active trip ---*@ 
@if (Model.ActiveTrip != null)
{
    <div class="headline">
        <h2>Your trip to: @Model.ActiveTrip.DlTripView.Name</h2> 
        <div class="pull-right">
            <a href="/Service/EditTrip?tripId=@Model.ActiveTrip.DlTripView.Id" class="btn btn-orange"> Edit trip &nbsp; <i class="icon-edit"></i></a>
        </div>        
    </div>    
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-calendar icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Planned date: @Model.ActiveTrip.DlTripView.StartDate.Value.ToLongDateString()</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-ok-sign icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Status: @Model.ActiveTrip.DlTripView.Status</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-map-marker icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Starts at: @Model.ActiveTrip.DlTripView.StartLocation</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
    </div>

    <hr class="margin-bottom-40">   

    <div class="tab-v1">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Trip Details</a></li>
            <li><a href="#booking" data-toggle="tab">Booking details</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="details">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        @foreach(var tripStep in Model.ActiveTrip.DlTripStepsView)
                        {
                            <h5>@tripStep.ShortDescription</h5>
                            <p>@tripStep.LongDescription</p>
                            if (!string.IsNullOrEmpty(tripStep.TravellerNote))
                            {
                                <h5>Your Notes:</h5>
                                <p>@tripStep.TravellerNote</p>
                            }

                            if (!string.IsNullOrEmpty(tripStep.TravelogerNote))
                            {
                                <h5>Your Notes:</h5>
                                <p>@tripStep.TravelogerNote</p>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="booking">
                @Html.Partial("_TripBookings", Model)
            </div>
            <div class="tab-pane" id="messages">
                <h4>Messages for your trip [@Model.ActiveTrip.DlTripView.Id]</h4>
                @{ 
                    // if there are no messages sent for this trip - start a descussion
                    if (Model.ActiveTrip.DlTripView.ThreadId == null || Model.ActiveTrip.DlTripView.ThreadId == 0)
                    {
                        var _model = new WebApplication1.Models.MessageViewModel() { TripId = Model.ActiveTrip.DlTripView.Id };
                        Html.RenderPartial("_MessageThreadStart", _model);
                    }

                    if (Model.ActiveTrip.DlTripView.ThreadId > 0)
                    {
                        DomingoBL.MessageCollection _thread = null;
                        DomingoBL.ThreadManager.GetMessageThreadById(Model.ActiveTrip.DlTripView.ThreadId.Value, out _thread);
                        if (_thread != null)
                        {
                            var _model = new WebApplication1.Models.MessageListItemViewModel()
                                            { MessageThread = _thread, TripId = Model.ActiveTrip.DlTripView.Id };
                            Html.RenderPartial("_MessageThread", _model);
                        }
                    }
                }                
            </div>
            <div class="tab-pane" id="settings">
                <h4>Heading Sample 4</h4>
                <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="assets/img/main/1.jpg"> Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc. <strong>Pellentesque fermentum</strong>, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
            </div>
        </div>
    </div>

    if (Model.RelatedTemplates != null && Model.RelatedTemplates.Count > 0)
    {

        <div class="headline">
            <h2>Related trips</h2>             
        </div> 

        foreach (var template in Model.RelatedTemplates)
        {
            @Html.Partial("_TripTemplateWidget", new WebApplication1.Models.TripTemplateWidgetViewModel { TripId = Model.ActiveTrip.DlTripView.Id, TripTemplate = template })
        }
    }

 } @*end of active trip section*@
