@model WebApplication1.Models.TripViewModel

@Html.Partial("_HomepageCarousel")

@*if the user is creating a new trip - show the form*@
@if (Model.CreateTripTemplate != null)
{
    Html.RenderPartial("_Trip_CreateNewTrip", Model);    
}


@*if there is an active trip ---*@ 
@if (Model.ActiveTrip != null)
{
    <div class="headline">
        <h2>@Model.ActiveTrip.DlTripView.NickName ( trip to @Model.ActiveTrip.DlTripView.Name ) <span class="orange"> [Status: @Model.ActiveTrip.DlTripView.Status ]</span> </h2>                         
    </div>

    <hr class="margin-bottom-20">

    <div class="img-box-3 text-center">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/airplane.png" alt="" class="img-responsive" />
                    </div>
                    <h5>
                        @if (Model.ActiveTrip.DlTripView.StartDate.HasValue)
                        {
                            @Model.ActiveTrip.DlTripView.StartDate.Value.ToLongDateString()
                        }
                        else
                        {
                            @Html.Raw("Not planned")
                        }
                    </h5>    
                    @if (Model.ActiveTrip.DlTripView.EndDate.HasValue)
                    {
                        <h5>to @Model.ActiveTrip.DlTripView.EndDate.Value.ToLongDateString()</h5>
                    }
                    <h6 class="orange">(Planned dates)</h6>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/group.png" alt="" class="img-responsive" />
                    </div>
                    <h4>
                        @Model.ActiveTrip.DlTripView.PaxAdults Adults 
                        @if(Model.ActiveTrip.DlTripView.PaxMinors > 0)
                        {
                            @Html.Raw("and ") @Model.ActiveTrip.DlTripView.PaxMinors @Html.Raw(" minor(s)")
                        }
                    </h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/maps-and-flags-4.png" alt="" class="img-responsive" />
                    </div>
                    <h5>Flying from: @Model.ActiveTrip.DlTripView.HomeLocation</h5>
                    <h6 class="orange">Trip starts at: @Model.ActiveTrip.DlTripView.StartLocation</h6>                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/money.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Money and cost:</h4>   
                    <h5>Travel style: @Model.ActiveTrip.DlTripView.TripType</h5>     
                    <h6>Currency: @Model.ActiveTrip.DlTripView.TripCurrency</h6>            
                    <h6 class="orange">
                        @if (Model.ActiveTrip.DlTripView.EstimatedCost.HasValue && Model.ActiveTrip.DlTripView.EstimatedCost.Value > 0)
                        {
                            @Html.Raw("Trip estimate: ")
                            @Model.ActiveTrip.DlTripView.TripCurrency
                            @Html.Raw(" ")                            
                            @Model.ActiveTrip.DlTripView.EstimatedCost.Value.ToString("N2")
                        }
                        else
                        { 
                            @*@Html.Raw("Trip planner could not estimate your trip yet. Please ask a traveloger to calculate your estimated cost.")*@
                        }  
                    </h6>
                </div>
            </div>
            @if (Model.ActiveTrip.DlTripView.EstimatedCost.HasValue && Model.ActiveTrip.DlTripView.EstimatedCost.Value > 0)
            {
                <div class="col-md-12">
                    <h5><i>Estimated cost excludes international flights and other transfers.<br /> This cost is derived based on average cost of accommodation, food and local transport and is an indicative only.</i></h5>
                </div>
            }            
        </div>
    </div>

    <hr class="margin-bottom-20">
    <div class="pull-left">
        <a href="/Service/EditTrip?tripId=@Model.ActiveTrip.DlTripView.Id" class="btn btn-orange"> Make Changes to my trip &nbsp; <i class="icon-edit"></i></a>
        <a href="/Service/DeleteTrip?tripId=@Model.ActiveTrip.DlTripView.Id" class="btn btn-red">Discard this trip &nbsp; <i class="icon-trash"></i></a>  
    </div>
    <div class="margin-bottom-10"></div>
    <hr class="margin-bottom-40">

    <div class="tab-v1">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details" data-toggle="tab">Trip Details</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="details">

                <div class="row servive-block margin-bottom-10">

                    @{
                        var flights = Model.ActiveTrip.DlTransportsBookingsView.Where(flight => flight.TripStepId == 0);
                        foreach (var flight in flights)
                        {
                            <div class="col-md-6 col-sm-12">
                                <div class="servive-block-in">
                                    <div class="img-box-3 text-center">
                                        <div class="img-box-3-item">
                                            <div class="img-box-3-icon">
                                                <img src="~/content/img/flat-icons/aeroplane.png" alt="" class="img-responsive" />
                                            </div>
                                            <h4>Your flight</h4>
                                            <h4>@flight.TransportFrom to @flight.TransportTo</h4>
                                            @if (!String.IsNullOrEmpty(flight.TransferDetails))
                                            {
                                                <p>@flight.TransferDetails</p>
                                            }
                                            <h5><a class="orange" href="/Service/ViewTransferBooking?id=@flight.Id">View Details</a></h5>
                                        </div>                                        
                                    </div>                                    
                                </div>
                            </div>
                        }

                        <div class="margin-bottom-10"></div>
                        <div class="container">
                            <div class="row margin-bottom-20">
                                <div class="col-md-12">
                                    <a class="btn btn-default" href="/Service/AddFlightBooking?TripId=@Model.ActiveTrip.DlTripView.Id"><i class="icon-plane"></i>&nbsp; Add Inbound / Outbound Flights</a>
                                </div>
                            </div>
                        </div>
                    }

                    @if(Model.ActiveTrip.DlTripStepsView == null || Model.ActiveTrip.DlTripStepsView.Count == 0)
                    {
                        <div class="col-md-12 col-sm-12">
                            <div class="servive-block-in">
                                <h4 class="text-left"><i class="icon-calendar-empty"></i> You have not added any circuit to your trip plan yet! </h4>
                            </div>
                        </div>
                    }

                    <div class="container">
                        @foreach (var tripStep in Model.ActiveTrip.DlTripStepsView)
                        {
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-12 col-sm-12">

                                        <h4 class="text-left">@tripStep.Destination &nbsp; <small>@tripStep.ShortDescription</small></h4>
                                        <h5 class="orange text-left">
                                            <i class="icon-calendar-empty"></i>
                                            Planned Dates:
                                            @if (tripStep.StartDate.HasValue)
                                            {
                                                @Html.Raw(tripStep.StartDate.Value.ToLongDateString());
                                            }
                                            else
                                            {
                                                @Html.Raw("Not Planned");
                                            } &nbsp; -- &nbsp;
                                            @if (tripStep.EndDate.HasValue)
                                            {
                                                @Html.Raw(tripStep.EndDate.Value.ToLongDateString());
                                            }
                                            else
                                            {
                                                @Html.Raw("Not Planned");
                                            }
                                        </h5>
                                        <p class="text-left">@tripStep.LongDescription</p>

                                        <div class="img-box-3 text-left">

                                            @{
                                                var hotels = Model.ActiveTrip.DlBookingsView.Where(hotel => hotel.TripStepId == tripStep.Id);
                                                foreach (var hotel in hotels)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-6">
                                                            <!-- Image Box #3 Item -->
                                                            <div class="img-box-3-item">
                                                                <div class="img-box-3-icon">
                                                                    <img src="~/content/img/flat-icons/hotel-1.png" alt="" class="img-responsive" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6">
                                                            <h6>@hotel.AccommodationType at @hotel.TownOrCity</h6>
                                                            <p>Booking Status: @hotel.Status </p>
                                                            @if (!String.IsNullOrEmpty(hotel.PropertyName))
                                                            {
                                                                <h6 class="text-left">@hotel.PropertyName</h6>
                                                                <p class="text-left">@hotel.PropertyAddress</p>
                                                            }

                                                            @if (hotel.CheckinDate.HasValue && hotel.CheckoutDate.HasValue)
                                                            {
                                                                <p class="text-left">Check-in: @hotel.CheckinDate.Value.ToLongDateString() - Check-out: @hotel.CheckoutDate.Value.ToLongDateString()</p>
                                                            }
                                                            <p class="text-left"><a class="orange" href="/Service/ViewAccommodationBooking?id=@hotel.Id">View details</a></p>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>

                                        <div class="img-box-3 text-left">
                                            @{
                                                var transfers = Model.ActiveTrip.DlTransportsBookingsView.Where(transfer => transfer.TripStepId == tripStep.Id);
                                                foreach (var transfer in transfers)
                                                {
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-6">
                                                            <!-- Image Box #3 Item -->
                                                            <div class="img-box-3-item">
                                                                <div class="img-box-3-icon">
                                                                    @if (transfer.TransportType.ToLower().Contains("flight"))
                                                                    {
                                                                        <img src="~/content/img/flat-icons/aeroplane.png" alt="" class="img-responsive" />
                                                                    }
                                                                    else if (transfer.TransportType.ToLower().Contains("train"))
                                                                    {
                                                                        <img src="~/content/img/flat-icons/train-2.png" alt="" class="img-responsive" />
                                                                    }
                                                                    else if (transfer.TransportType.ToLower().Contains("bus"))
                                                                    {
                                                                        <img src="~/content/img/flat-icons/minibus.png" alt="" class="img-responsive" />
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9 col-sm-6">
                                                            <h6 class="text-left">@transfer.TransportFrom to @transfer.TransportTo by @transfer.TransportType</h6>
                                                            @if (transfer.BookingDate.HasValue)
                                                            {  <p class="text-left">@transfer.BookingDate.Value.ToLongDateString()</p> }
                                                            <p class="text-left">@transfer.Adults Adults and @transfer.Kids Minors by @transfer.TravelClass</p>
                                                            <p class="text-left"><a class="orange" href="/Service/ViewTransferBooking?id=@transfer.Id">View details</a></p>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>


                                        @if (!string.IsNullOrEmpty(tripStep.TravellerNote))
                                        {
                                            <h5 class="orange text-left">Your Notes:</h5>
                                            <p class="text-left">@tripStep.TravellerNote</p>
                                        }

                                        @if (!string.IsNullOrEmpty(tripStep.TravelogerNote))
                                        {
                                            <h5 class="orange text-left">Traveloger's Notes:</h5>
                                            <p class="orange text-left">@tripStep.TravelogerNote</p>
                                        }

                                        <div class="margin-bottom-20"></div>

                                        <p class="text-left">
                                            <a class="btn btn-default" href="/Service/AddTripBookingAccommodation?tripStepId=@tripStep.Id&tripId=@tripStep.TripId">&nbsp;Add Accommodation</a>&nbsp;
                                            <a class="btn btn-default" href="/Service/AddFlightBooking?TripId=@tripStep.TripId&tripStepId=@tripStep.Id">&nbsp; Add Domestic Transfer</a>
                                        </p>

                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    
                </div>
            </div>

            <div class="tab-pane" id="messages">
                <h4>Messages for your trip [@Model.ActiveTrip.DlTripView.Id]</h4>
                @{
                    // if there are no messages sent for this trip - start a descussion
                    if (Model.ActiveTrip.DlTripView.ThreadId == null || Model.ActiveTrip.DlTripView.ThreadId == 0)
                    {
                        var _model = new WebApplication1.Models.MessageViewModel() { TripId = Model.ActiveTrip.DlTripView.Id };
                        Html.RenderPartial("_MessageThreadStart", _model);
                    }

                    if (Model.ActiveTrip.DlTripView.ThreadId > 0)
                    {
                        DomingoBL.MessageCollection _thread = null;
                        DomingoBL.ThreadManager.GetMessageThreadById(Model.ActiveTrip.DlTripView.ThreadId.Value, out _thread);
                        if (_thread != null)
                        {
                            var _model = new WebApplication1.Models.MessageListItemViewModel()
                                            { MessageThread = _thread, TripId = Model.ActiveTrip.DlTripView.Id , ShowTripViewLink = false };
                            Html.RenderPartial("_MessageThread", _model);
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="pull-left">
        <a href="/Service/EditTrip?tripId=@Model.ActiveTrip.DlTripView.Id" class="btn btn-orange"> Make Changes to my trip &nbsp; <i class="icon-edit"></i></a>
    </div>

    <div class="margin-bottom-20"></div>

    if (Model.RelatedTemplates != null && Model.RelatedTemplates.Count > 0)
    {
        <div class="headline">
            <h3>Suggestions for you</h3>
        </div>
        <div class="margin-bottom-20">
            <h4>Following Trip(s) are suggested for you to add to the current trip. You can combine multiple circuits to plan a longer trip.</h4>
        </div>               
        
        foreach (var template in Model.RelatedTemplates)
        {
            <div class="panel panel-default">  
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("_TripTemplateWidget", new WebApplication1.Models.TripTemplateWidgetViewModel { TripId = Model.ActiveTrip.DlTripView.Id, TripTemplate = template })    
                        </div>                                    
                    </div>
                </div>                
            </div>                    
        }  
    }
} @*end of active trip section*@
