@model WebApplication1.Models.DomingoModelBase

@{
    if (Model != null && Model.Destination != null)
    {
        ViewBag.Description = Model.Destination.MetaDescription;
        ViewBag.KeyWords = Model.Destination.MetaKeywords;
    }
}

@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Trans Siberian</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/Circuit/Russia">Russia</a></li>
            <li class="active">Trans-Siberian</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->


@Html.Partial("_DestinationViewHeader", Model)

<div class="container">
    <div class="blog-img">
        <img class="img-responsive img-border" src="~/Content/img/Trans-Siberian/TSR-S03.jpg" alt="">
    </div>
</div>

<div class="blog-three">    

    <div class="img-box-3 text-center">
        <div class="row">
            <h1 class="text-center">Travelogy club services for the Trans-Siberian</h1><br />
        </div>
        <div class="row">
            <!--Item-1-->
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/Content/img/flat-icons/18.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Planning</h4>
                    <div class="bor bg-orange"></div>
                    <h3><small>Use out expert team to create the best trip plan for your Trans-Siberian adventures.</small></h3>
                </div>
            </div>

            <!--Item-2-->
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/Content/img/flat-icons/passport.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Visas</h4>
                    <div class="bor bg-orange"></div>
                    <h3><small>Travelogy club will take care of the travel documents you will need for the trip.</small></h3>
                </div>
            </div>

            <!--Item-3-->
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/Content/img/flat-icons/train.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Booking</h4>
                    <div class="bor bg-orange"></div>
                    <h3><small>We use our trusted partners on ground to book the train tickets and accomodations.</small></h3>
                </div>
            </div>

            <!--Item-4-->
            <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/Content/img/flat-icons/chatting-2.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Support</h4>
                    <div class="bor bg-orange"></div>
                    <h3><small>Stay in touch with our global contact center and the regional partner through the trip.</small></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                @if (Request.IsAuthenticated)
                {
                    if (Model != null && Model.Destination != null)
                    {
                        var _model = new WebApplication1.Models._StartTripPlanningViewModel() { CircuitName = Model.Destination.Name, TemplateAlias = Model.Destination.TemplateSearchAlias };
                        @Html.Partial("_StartTripPlanning", _model)
                    }
                }

                else
                {
                    @Html.Partial("_JoinNowTripPlanning")
                }
            </div>
            <div class="ol-md-12 col-sm-12">
            @if (Request.IsAuthenticated)
            {
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._DownloadBrochureModel() { CircuitName = Model.Destination.Name };
                    @Html.Partial("_DownloadBrochure", _model)
                }
            }
            else
            {
                if (Model != null && Model.Destination != null)
                {
                    @Html.Partial("_SubmitTripRequest", new WebApplication1.Models._SubmitTripRequestViewModel() { CircuitName = Model.Destination.Name });
                }
            }
            </div>
        </div>
    </div>
</div>
