@model WebApplication1.Models.AdminTripBookingAccommodationEditModel

<div>
    @using (Html.BeginForm("SaveTripBookingAccommodation", "Admin", new { ReturnUrl = "" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Manage Accommodation Booking</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DbObject.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.AccommodationType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.DbObject.AccommodationType, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.DbObject.AccommodationType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.DbObject.Destination, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.DbObject.Destination, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.ShortDescription, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.DbObject.ShortDescription, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TravellerNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DbObject.TravellerNotes, new { @class = "form-control", @rows = 8, @readonly = "true" })
                    @Html.ValidationMessageFor(model => model.DbObject.TravellerNotes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.SpecialRequests, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DbObject.SpecialRequests, new { @class = "form-control", @rows = 8, @readonly = "true" })
                    @Html.ValidationMessageFor(model => model.DbObject.SpecialRequests, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.EstimatedCost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.DbObject.EstimatedCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DbObject.EstimatedCost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.DbObject.Status, Model.BookingStatusList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DbObject.Status, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.CheckinDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBox("checkin date", Model.DbObject.CheckinDate, htmlAttributes: new { @class = "form-control", @readonly = true })
                    @Html.TextBoxFor(model => model.DbObject.CheckinDate, new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.DbObject.CheckinDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.CheckoutDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBox("checkout date", Model.DbObject.CheckoutDate, htmlAttributes: new { @class = "form-control", @readonly = true })
                    @Html.TextBoxFor(model => model.DbObject.CheckoutDate, new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.DbObject.CheckoutDate, "", new { @class = "text-danger" })
                </div>
            </div>           
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Adults, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.DbObject.Adults, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DbObject.Adults, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Kids, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.DbObject.Kids, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DbObject.Kids, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.AdminNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DbObject.AdminNotes, new { @class = "form-control", @rows = 8, @maxlength = 499 })
                    @Html.ValidationMessageFor(model => model.DbObject.AdminNotes, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TownOrCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.TownOrCity, new { htmlAttributes = new { @class = "form-control", @maxlength = 49 } })
                    @Html.ValidationMessageFor(model => model.DbObject.TownOrCity, "", new { @class = "text-danger" })
                </div>
            </div>            
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.PropertyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.PropertyName, new { htmlAttributes = new { @class = "form-control", @maxlength = 99 } })
                    @Html.ValidationMessageFor(model => model.DbObject.PropertyName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.PropertyAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.PropertyAddress, new { htmlAttributes = new { @class = "form-control", @maxlength = 199 } })
                    @Html.ValidationMessageFor(model => model.DbObject.PropertyAddress, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "TripBookingAccommodations")
    </div>
</div>

