@model WebApplication1.Models.AdminTripBookingTransportEditModel

@Html.Partial("_HomepageCarousel")

<div>
    @using (Html.BeginForm("SaveTripBookingTransportAsync", "Admin", new { ReturnUrl = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TripId)

        <div class="form-horizontal">
            <h4>Manage Transfer Booking</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DbObject.Id)
    
            @Html.HiddenFor(model => model.DbObject.TransportType)
    
            @Html.HiddenFor(model => model.DbObject.EstimatedCost)
    
            @Html.HiddenFor(model => model.DbObject.TripId)
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.DbObject.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TripStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.TripStartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.DbObject.TripStartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TripStartLocation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.TripStartLocation, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.DbObject.TripStartLocation, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.DbObject.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.DbObject.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TravelClass, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.TravelClass, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.DbObject.TravelClass, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TravellerNotes, htmlAttributes: new { @class = "control-label col-md-2"})
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.DbObject.TravellerNotes, new { @class = "form-control", @rows = 8, @readonly = "true" })
                    @Html.ValidationMessageFor(model => model.DbObject.TravellerNotes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.BookingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.DbObject.BookingDate, new { @class = "form-control", @type = "date" })
                    @Html.ValidationMessageFor(model => model.DbObject.BookingDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TransportFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.TransportFrom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DbObject.TransportFrom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TransportTo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DbObject.TransportTo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DbObject.TransportTo, "", new { @class = "text-danger" })
                </div>
            </div>            

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TransferDetails, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.Label("Please mention all details of the flight / train / bus here:")
                    @Html.TextAreaFor(model => model.DbObject.TransferDetails, new { @class = "form-control", @rows = 8, @maxlength = 499 })
                    @Html.ValidationMessageFor(model => model.DbObject.TransferDetails, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.AdminNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.DbObject.AdminNotes, new { @class = "form-control", @rows = 8 , @maxlength = 499 })
                    @Html.ValidationMessageFor(model => model.DbObject.AdminNotes, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.BookingStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.DbObject.BookingStatus, Model.BookingStatusList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DbObject.BookingStatus, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Adults, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DbObject.Adults, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DbObject.Adults, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Kids, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DbObject.Kids, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DbObject.Kids, "", new { @class = "text-danger" })
                </div>
            </div>
            
    
            @Html.HiddenFor(model => model.DbObject.UserName)
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
