@model IEnumerable<DomingoDAL.TripTemplate>

    <p>
        @Html.ActionLink("Create New", "CreateTripTemplate")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripProviderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThumbnailPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SearchAlias)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripProviderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchAlias)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTripTemplate", new { id=item.Id }) |
                @*@Html.ActionLink("Edit Steps", "EditTripTemplateSteps", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "DeleteTripTemplate", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
