@model WebApplication1.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Join the club";
}

<div class="headline">
    <h2>@ViewBag.Title. <small class="orange">Associate your @ViewBag.LoginProvider account.</small> </h2>     
</div>



@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()        
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <p>You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.</p>
    <p>Please enter your E-mail address and complete the registration.</p>

    <div class="form-group">
        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-6 col-sm-12">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , @placeholder = "Enter your email address" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger"})
        </div>
        <div class="col-md-6 col-sm-12">
            <input type="submit" class="btn btn-orange" value="Complete your Registration" />
        </div>
    </div>    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
