@using WebApplication1.Models
@model LoginViewModel
 
<div class="col-lg-8 col-lg-offset-2">
    <!--Tag Box v5-->
    <div class="row text-center">
        <div class="col-md-12 margin-bottom-20"> 
            <h6 class="text-center">
                Welcome to the all new Travelogy club portal. You need to logged in to use our Trip Planner and other features.                 
             </h6>   
            <h5>
                If you have not created an account yet, click here to 
                <a href="/Account/Register" class="orange">Sign up and Join the club <i class="icon-signin"></i> </a>
            </h5>    
            <div class="margin-bottom-20"></div>
            <h6 class="orange"> <i>Signing up and using the Trip Planner is FREE and does not need your Credit Card details!</i> </h6>     
        </div>
    </div>
    <!--End Tag Box v5-->
</div>

<div class="row">
    <div class="col-md-4 col-lg-offset-2">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "reg-page", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="reg-header">
                    <h6 class="orange">Already signed up?</h6>
                    <h4>Sign in to your account.</h4>
                    @*<h4>@Html.ActionLink("or Sign up and join the Club", "Register")</h4>*@
                </div>

                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>

                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                </div>


                @*<div class="input-group margin-bottom-20">
                    @Html.CheckBoxFor(m => m.RememberMe) &nbsp; @Html.LabelFor(m => m.RememberMe)
                </div>*@

                if (Model != null && (!string.IsNullOrEmpty(Model.LoginFailureMessage)))
                {
                    <div class="row">
                        <div class="col-md-12 padd-10">
                            <p class="danger text-center">@Model.LoginFailureMessage</p>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Log in" class="btn-u pull-right" />
                    </div>
                </div>
                <div class="margin-bottom-40"></div>

                @* Enable this once you have account confirmation enabled for password reset functionality*@
                <h6 class="text-center">Forgot your password?</h6>
                <h6 class="orange text-center">@Html.ActionLink("Retrieve by clicking here.", "ForgotPassword")</h6>               
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            <div class="reg-page">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </section>
    </div>
    <div class="col-md-4">
    </div>
</div>




<div class="row">
    <div class="col-md-12 padd-15 text-center">
        <h6>
            By Signing up and logging in, you agree to our <a href="/Information/TermsAndConditions" target="_blank" class="orange">Terms And Conditions</a>.
            Please read our <a href="/Information/Privacy" target="_blank" class="orange">Privacy policy</a>.
        </h6>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}