@model  WebApplication1.Models.EditDestinationViewModel

@Html.Partial("_HomepageCarousel")

<div class="headline">
    <h3>Manage Destination: @Model.DbObject.Name</h3>
</div>

<div>
    @using (Html.BeginForm("SaveDestinationAsync", "Admin", new { ReturnUrl = "" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DbObject.Id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.Name, new { htmlAttributes = new { @class = "form-control", @maxlength = 49, @readonly = true } })
                    @Html.ValidationMessageFor(model => model.DbObject.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Alias, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.Alias, new { htmlAttributes = new { @class = "form-control" , @maxlength = 49 } })
                    @Html.ValidationMessageFor(model => model.DbObject.Alias, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.Country, new { htmlAttributes = new { @class = "form-control" , @maxlength = 49 } })
                    @Html.ValidationMessageFor(model => model.DbObject.Country, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Tagline, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.Tagline, new { htmlAttributes = new { @class = "form-control" , @maxlength = 199 } })
                    @Html.ValidationMessageFor(model => model.DbObject.Tagline, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.ShortDescription, new { htmlAttributes = new { @class = "form-control", @maxlength = 199 } })
                    @Html.ValidationMessageFor(model => model.DbObject.ShortDescription, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DbObject.Description, new { @class = "form-control", @rows = 8 , @maxlength = 1998 })
                    @Html.ValidationMessageFor(model => model.DbObject.Description, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.ThumbnailPath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.ThumbnailPath, new { htmlAttributes = new { @class = "form-control" , @maxlength = 255 } })
                    @Html.ValidationMessageFor(model => model.DbObject.ThumbnailPath, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.CircuitUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.CircuitUrl, new { htmlAttributes = new { @class = "form-control", @maxlength = 199 } })
                    @Html.ValidationMessageFor(model => model.DbObject.CircuitUrl, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.BestTimeToVisit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.BestTimeToVisit, new { htmlAttributes = new { @class = "form-control", @maxlength = 199 } })
                    @Html.ValidationMessageFor(model => model.DbObject.BestTimeToVisit, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TravelStyles, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.TravelStyles, new { htmlAttributes = new { @class = "form-control", @maxlength = 199 } })
                    @Html.ValidationMessageFor(model => model.DbObject.TravelStyles, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TemplateSearchAlias, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.TemplateSearchAlias, new { htmlAttributes = new { @class = "form-control", @maxlength = 49 } })
                    @Html.ValidationMessageFor(model => model.DbObject.TemplateSearchAlias, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.TourContinent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.TourContinent, new { htmlAttributes = new { @class = "form-control", @maxlength = 199 } })
                    @Html.ValidationMessageFor(model => model.DbObject.TourContinent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DbObject.Weightage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DbObject.Weightage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DbObject.Weightage, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Destinations")
    </div>
</div>

<hr />
<div class="margin-bottom-20"></div>

<div class="headline">
    <h3>Costs</h3>
</div>

<div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Type</th>
            <th>Class</th>
            <th>Currency</th>
            <th>Season</th>
            <th>Amount</th>
            <th> -- </th>
        </tr>

        @foreach (var item in Model.CostObjects)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Class</td>
                <td>@item.Currency</td>
                <td>@item.Season</td>
                <td>@item.Amount</td>
                <td>@Html.ActionLink("Edit", "EditDestinationCost", new { @destinationCostId = item.Id })</td>
            </tr>
        }
    </table>
    <div class="margin-bottom-20">
        @Html.ActionLink("Add New", "AddDestinationCost", new { @destinationId = Model.DbObject.Id })
    </div>
</div>

<hr />
<div class="margin-bottom-20"></div>

<div class="tab-v1">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#sub_destinations" data-toggle="tab">Places</a></li>
        <li><a href="#Activities" data-toggle="tab">Activities</a></li>
        @*<li><a href="#Interests" data-toggle="tab">Interests</a></li>*@
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="sub_destinations">
        <div>            
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>---</th>
                </tr>

                @foreach (var item in Model.SubDestinations)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><h5>@item.Name</h5></td>
                        <td>@item.Type</td>
                        <td>@Html.ActionLink("Edit", "EditSubDestination", new { @subDestinationId = item.Id })</td>
                    </tr>
                }

            </table>
        </div>
        <div class="margin-bottom-20">
            @Html.ActionLink("Add New", "AddSubDestination", new { @destinationId = Model.DbObject.Id })
        </div>
    </div>

    <div class="tab-pane" id="Activities">
        <div>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>---</th>
                </tr>

                @foreach (var item in Model.Activities)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><h5>@item.Name</h5></td>
                        <td>@item.Type</td>
                        <td>@Html.ActionLink("Edit", "EditDestinationActivity", new { @destinationActivityId = item.Id })</td>
                    </tr>
                }

            </table>
        </div>
        <div class="margin-bottom-20">
            @Html.ActionLink("Add New", "AddDestinationActivity", new { @destinationId = Model.DbObject.Id })
        </div>
    </div>

    @*<div class="tab-pane" id="Interests">
        <div>
            <h4 class="orange">Interests</h4>
            <hr class="margin-bottom-20" />            
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>---</th>
                </tr>

                @foreach (var item in Model.Activities)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td><h5>@item.Name</h5></td>
                        <td>@item.Type</td>
                        <td>@Html.ActionLink("Edit", "EditDestinationInterest", new { @destinationInterestId = item.Id })</td>
                    </tr>
                }

            </table>
        </div>
        <div class="margin-bottom-20">
            @Html.ActionLink("Add New", "AddDestinationInterest", new { @destinationId = Model.DbObject.Id })
        </div>
    </div>*@
</div>







