@model IEnumerable<DomingoDAL.TripProvider>

@Html.Partial("_HomepageCarousel")


<div class="headline">
    <h3>Manage Agencies:</h3>
</div>

<div>
    <p>
        @Html.ActionLink("Create New", "CreateTripProvider")
    </p>
    <table class="table">
        <tr>
            <th>
               Agency Name
            </th>
            <th>
                Website
            </th>
            <th>
               Contact Email
            </th>            
            <th>
                Contact Phone
            </th>            
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddressPrimary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone01)
            </td>            
            <td>
                @Html.ActionLink("Manage", "EditTripProvider", new { id=item.Id })                 
            </td>
        </tr>
    }
    
    </table>
</div>

