@model IEnumerable<DomingoDAL.View_TripBookingAccommodation>

@Html.Partial("_HomepageCarousel")

<div class="headline">
    <h2>Manage Accommodation booking requests</h2>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                Type
            </th>
            <th>
                Check-in
            </th>
            <th>
                Check-out
            </th>
            <th>
                Property Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>            
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccommodationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>            
            <td>
                @Html.ActionLink("Manage", "EditTripBookingAccommodation", new { id=item.Id }, new { @class = "btn btn-orange" })                 
            </td>
        </tr>
    }
    
    </table>
</div>

