@model WebApplication1.Models.IndexViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Manage your account";
}

@Html.Partial("_HomepageCarousel")

<h2>@ViewBag.Title. <small>Change your account settings</small></h2>

<p class="orange">@ViewBag.StatusMessage</p>
<div>    
    <hr />

    <div class="row">
        <div class="img-box-3 text-center">
            <div class="row">
            @if (!ApplicationUserManager.UserEmailVerified(User.Identity.GetUserName()))
            {
                <div class="col-md-3 col-sm-6">
                    <!-- Image Box #3 Item -->
                    <div class="img-box-3-item">
                        <div class="img-box-3-icon">
                            <img src="~/content/img/flat-icons/7.png" alt="" class="img-responsive" />
                        </div>
                        <h4 class="red">Verify E-Mail address</h4>
                        <div class="bor bg-black"></div>
                        <div class="margin-bottom-20"></div>
                        <a href="/Account/Verify" class="btn-u">Verify your E-Mail</a>
                        <div class="margin-bottom-20"></div>
                        <p class="red">You have not verified the email address you have signed up with. Your trip planner will not work until you verify your email address.</p>
                    </div>
                </div>
            }


            @*Show the Change Password or Create a Password divs based on status*@
            @if (Model.HasPassword)
            {
                <div class="col-md-3 col-sm-6">
                    <!-- Image Box #3 Item -->
                    <div class="img-box-3-item">                        
                        <div class="img-box-3-icon">                            
                            <img src="~/content/img/flat-icons/room-key-1.png" alt="" class="img-responsive" />                            
                        </div>
                        <h4>Change Password</h4>
                        <div class="bor bg-black"></div>
                        <div class="margin-bottom-20"></div>
                        <a href="/Manage/ChangePassword" class="btn-u">Change your password</a>    
                        <div class="margin-bottom-20"></div>                    
                        <p>You have a password for your local account, change it periodically.</p>                        
                    </div>
                </div>
            }

            else
            {
                <div class="col-md-3 col-sm-6">
                    <!-- Image Box #3 Item -->
                    <div class="img-box-3-item">
                        <div class="img-box-3-icon">
                            <img src="~/content/img/flat-icons/room-key-1.png" alt="" class="img-responsive" />
                        </div>
                        <h4>Create a Password</h4>
                        <div class="bor bg-black"></div>
                        <div class="margin-bottom-20"></div>
                        <a href="/Manage/SetPassword" class="btn-u">Create a Password</a> 
                        <div class="margin-bottom-20"></div>                       
                        <p>You have not set up a password for your account yet.</p>                        
                        <p>Make your account safer.</p>
                    </div>
                </div>
            }

                <div class="col-md-3 col-sm-6">
                    <!-- Image Box #3 Item -->
                    <div class="img-box-3-item">
                        <div class="img-box-3-icon">
                            <img src="~/content/img/flat-icons/sunglasses.png" alt="" class="img-responsive" />
                        </div>
                        <h4>Traveller profile</h4>
                        <div class="bor bg-black"></div>
                        <div class="margin-bottom-20"></div>
                        <a href="/Manage/TravellerProfile" class="btn-u">Manage profile</a>      
                        <div class="margin-bottom-20"></div>                  
                        <p>Update your travel preferences in your profile. This helps you to find the correct trip plans.</p>                        
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <!-- Image Box #3 Item -->
                    <div class="img-box-3-item">
                        <div class="img-box-3-icon">
                            <img src="~/content/img/flat-icons/notes.png" alt="" class="img-responsive" />
                        </div>
                        <h4>Manage Trips</h4>
                        <div class="bor bg-black"></div>
                        <div class="margin-bottom-20"></div>
                        <a href="/Service/TripPlanning" class="btn-u">Trip Planner</a>
                        <div class="margin-bottom-20"></div>
                        <p>Create and manage your trips using our online planner.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    
        

        @*<div class="col-md-6 col-sm-6">
            <h2>Manage linked external Accounts:</h2>
            <h4>You have @Model.Logins.Count external login(s) associated</h4>
            <p>@Html.ActionLink("Manage your external accounts", "ManageLogins").</p>
        </div>*@              
    
    

    <dl class="dl-horizontal">
        @*<dt>Password:</dt>*@
        @*<dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }]
        </dd>*@
        @*<dt>External Logins:</dt>*@
        @*<dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>*@
        <dd>
            @*<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
