@model WebApplication1.Models.ProfileViewModel

<div class="row">
    <div class="col-md-12 padd-10">        
        <img class="img-responsive" src="~/Content/img/gallery/big/slider004.jpg" />
    </div>
</div>

@using (Html.BeginForm("SaveTravellerProfile", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <!--Input Groups-->
    <div class="panel panel-orange margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-tasks"></i> Your Traveller profile</h3>
        </div>
        <div class="panel-body">
            <h5>Build your traveller profile.<br /> This will help the Trip Planner to understand your needs better.</h5>

            <div class="row margin-bottom-40">
                <!--Personal Details-->
                <div class="col-md-6">
                    <h4>Personal Details</h4>
                    <div class="input-group">
                        <span class="input-group-addon">@Html.LabelFor(m => m.FirstName)</span>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })                        
                    </div>
                    <div class="margin-bottom-10"></div>
                    <div class="input-group">
                        <span class="input-group-addon">@Html.LabelFor(m => m.LastName)</span>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                    </div>
                    <div class="margin-bottom-20"></div>

                    <div class="input-group">
                        <span class="input-group-addon">@Html.LabelFor(m => m.AddressLine1)</span>
                        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control", @placeholder = "1st line of address" })
                    </div>
                    <div class="margin-bottom-10"></div>

                    <div class="input-group">
                        <span class="input-group-addon">@Html.LabelFor(m => m.AddressLine2)</span>
                        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control", @placeholder = "2nd line of address" })
                    </div>
                    <div class="margin-bottom-10"></div>

                    <div class="input-group">
                        <span class="input-group-addon">@Html.LabelFor(m => m.City)</span>
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "City or Town" })
                    </div>
                    <div class="margin-bottom-10"></div>

                    <div class="input-group">
                        <span class="input-group-addon">@Html.LabelFor(m => m.Country)</span>
                        @Html.DropDownListFor(m => m.Country, Model.ListOfCountries, new { @class = "form-control" })                        
                    </div>
                    <div class="margin-bottom-10"></div>

                </div>
                <!--End Personal Details-->

                <!--Travel interests-->               

                <div class="col-md-6">
                    <div class="col-md-12 col-sm-12">
                        <h4>Travel interests</h4>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" readonly value="Adventure">
                        </div>
                        <div class="margin-bottom-10"></div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" readonly value="Motorcycling">
                        </div>
                        <div class="margin-bottom-10"></div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" readonly value="Railway journeys">
                        </div>
                        <div class="margin-bottom-10"></div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" readonly value="Driving holidays">
                        </div>
                        <div class="margin-bottom-10"></div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" readonly value="Hitchhiking">
                        </div>
                        <div class="margin-bottom-10"></div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <h4>&nbsp;</h4>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" readonly value="Backpacking">
                        </div>
                        <div class="margin-bottom-10"></div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" readonly value="Mountaineering">
                        </div>
                        <div class="margin-bottom-10"></div>

                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" readonly value="Historical places">
                        </div>
                        <div class="margin-bottom-10"></div>
                    </div>
                </div>               
                <!--End Travel interests-->                
            </div>

            <div class="row">                
                <div class="margin-bottom-20"></div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Travel style</h4>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio">
                            </span>
                            <input type="text" class="form-control" readonly value="Backpacker">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio">
                            </span>
                            <input type="text" class="form-control" readonly value="Budget Traveller">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio">
                            </span>
                            <input type="text" class="form-control" readonly value="Mid Range">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="radio">
                            </span>
                            <input type="text" class="form-control" readonly value="Luxury">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.LabelFor(m => m.TravelGroupSize)</span>
                        @Html.DropDownListFor(m => m.TravelGroupSize, Model.TravelGroupSizes, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row padd-15">
                <div class="col-md-12">
                    <input type="submit" value="Save your profile" class="btn-u pull-right" />
                </div>
            </div>


        </div>
    </div>
    <!--End Input Groups-->

   
}


