@model WebApplication1.Models.CallMeBackViewModel

@using (Html.BeginForm("CallMeBackMicroAsync", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <blockquote>
            <h4 class="orange margin-bottom-10"><i>Want to know more?</i> </h4>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="icon-user"></i></span>
                        @Html.TextBoxFor(model => model.WhomToCall, new { @class = "form-control", @placeholder = "Leave your name" })                        
                    </div>
                    @Html.ValidationMessageFor(model => model.WhomToCall, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="icon-phone"></i></span>
                        @Html.TextBoxFor(model => model.WhereToCall, new { @class = "form-control", @placeholder = "and your number" })                        
                    </div>
                    @Html.ValidationMessageFor(model => model.WhereToCall, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-3">
                    <button class="btn-u" type="submit">Arrange a Call Back &nbsp;&nbsp; <i class="icon-arrow-right"></i></button>
                </div>
            </div>
        </blockquote>     
    </div>

}


