@model WebApplication1.Models.DomingoModelBase

<div class="container">    
    <div class="row blog-page blog-item">
        <div class="col-md-12 md-margin-bottom-20">
            <div class="block-heading-twelve">
                <h3 class="color">@Model.Destination.Name</h3>
                <h2>@Model.Destination.Tagline</h2>
            </div>
            <hr class="margin-bottom-20" />
            <div class="blog-post-tags">
                <ul class="list-2">
                    <li><h4> <i class="icon-calendar"></i> Ideal for: @Model.Destination.BestTimeToVisit</h4></li>
                    <li><h4> <i class="icon-hand-right"></i> Suitable for: @Model.Destination.TravelStyles</h4></li>
                </ul>                

                @if (Model.DestinationTags != null && Model.DestinationTags.Count > 0)
                {
                    <ul class="list-unstyled list-inline blog-tags">
                        <li>
                            <i class="icon-tags"></i>

                            @foreach (var tag in Model.DestinationTags)
                            {
                                <a href="#">@tag.TagDescription</a>
                            }
                        </li>
                    </ul>
                }

            </div>
            <div class="about-us-one">
                <div class="about-logo">
                    <p>@Model.Destination.Description</p>
                </div>
            </div>            
        </div>
    </div>    
</div>
