@model WebApplication1.Models._DownloadBrochureRequestModel

@using (Html.BeginForm("DownloadBrochureRequestAsync", "Information", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BrochurePath)

    <div class="margin-bottom-20"></div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Want to know more? <span class="orange">Get our online brochure in your mail.</span></h5>
                    </div>
                </div>
                <div class="margin-bottom-10"></div>
                <div class="row">
                    <div class="col-md-4">
                        <p>@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your name" } })</p>
                        <p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</p>
                    </div>
                    <div class="col-md-4">
                        <p>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Email (brochure will be emailed here)" } })</p>
                        <p>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })</p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn-u" type="submit">Get the Brochure &nbsp;&nbsp; <i class="icon-download"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
