@model WebApplication1.Models.TripTemplateWidgetViewModel

<div class="search-blocks search-blocks-colored search-blocks-grey">    
    <div class="col-md-3 search-img">
        <img class="img-responsive" src="@Model.TripTemplate.DlTemplate.ThumbnailPath" alt="">
        <ul class="list-unstyled">
            <li><i class="icon-briefcase"></i>@Model.TripTemplate.DlTemplate.Name</li>
            <li><i class="icon-map-marker"></i>@Model.TripTemplate.DlTemplate.Name</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2><a href="#">@Model.TripTemplate.DlTemplate.Name</a></h2>
        <ul class="list-unstyled search-rating">
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
            <li><i class="icon-star"></i></li>
        </ul>
        <h2 class="white">Typical duration: @Model.TripTemplate.DlTemplate.DurationDaysMin - @Model.TripTemplate.DlTemplate.DurationDaysMax Days</h2>
        <p>@Model.TripTemplate.DlTemplate.Description</p>
    </div>
    <div class="col-md-12 text-right">
    @if (Request.IsAuthenticated)
    {
        if (Model.TripId > 0)
        {
            <a href="/Service/AddCircuitToTrip?tripId=@Model.TripId&templateId=@Model.TripTemplate.DlTemplate.Id" class="btn-u btn-u-orange">Add this to my Trip <i class="icon-cogs "></i></a>
        }
        else
        {
            <a href="/Service/CreateTripFromTemplate?templateId=@Model.TripTemplate.DlTemplate.Id" class="btn-u btn-u-orange">Create trip  with this circuit <i class="icon-cogs "></i></a>
        }
    }
    else
    {
        <a href="/Account/Register" class="btn-u btn-orange">Sign up</a>
        <a href="/Account/ExternalLogin?provider=Facebook" class="btn-u btn-orange"><i class="icon-facebook"></i> &nbsp; Login with Facebook</a>
        <p>Use our FREE online Trip planner.</p>   
    }
    </div>    
</div>

@if (!string.IsNullOrEmpty(Model.TripTemplate.DlTemplate.AdditionalHtml))
{
    @Html.Raw(Model.TripTemplate.DlTemplate.AdditionalHtml)
}
