@model WebApplication1.Models.CircuitModelBase

@*@Html.Partial("_AfricaCircuitsCarousel")*@
@Html.Partial("_HomepageCarousel")

<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">India</h1>
    </div>
</div><!--/breadcrumbs-->

<div class="headline">
    <h3>Travel circuits in India</h3>
</div>

<div class="about-us-one">
    <div class="about-logo">
        <p>India is aptly called a sub-continent. This vast country offers the visitor a view of fascinating religions and ethnography, a vast variety of languages with more than 438 living languages, and monuments that have been present for thousands of years. 
        As it opens up to a globalised world, India still has a depth of history and intensity of culture that awes and fascinates the many who visit there.</p>
    </div>
</div>


@for (var i = 0; i < Model.AllDestinations.Count; i++)
{
    if (i % 4 == 0)
    {
        @Html.Raw("<div class=\"row\">");
    }

    {
        var item = Model.AllDestinations[i];
        @Html.Partial("_DestinationWidgetMicro", item)
    }

    if (i % 4 == 3)
    {
        @Html.Raw("</div>");
    }

    if (i == Model.AllDestinations.Count - 1)
    {
        @Html.Raw("</div>");
    }

}
