@model WebApplication1.Models.DomingoModelBase

@{
    if (Model != null && Model.Destination != null)
    {
        ViewBag.Description = Model.Destination.MetaDescription;
        ViewBag.KeyWords = Model.Destination.MetaKeywords;
    }
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">        
        <ul class="pull-right breadcrumb">
            <li><a href="/India">India</a></li>
            <li><a href="/Circuit/India">All Circuits</a></li>
            <li class="active">@Model.Destination.Name</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
@Html.Partial("_DestinationViewHeader", Model)

<div class="container">
    <div class="row">
        <div class="col-md-12 padd-10">
            <img class="img-responsive" src="~/Content/img/India/goa01.jpg" />
        </div>
    </div>
</div>

<div class="margin-bottom-20"></div>

<div class="container">
    <div class="headline">
        <h3>Top attractions in @Model.Destination.Name</h3>
    </div>
    <div class="img-box-3 text-center">
        <div class="row">
            @*Beaches*@ 
            <div class="col-md-3 col-sm-6">                
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/beach.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Beaches</h4>                    
                </div>
            </div>

            @*food & drink*@
            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/coconaut.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Food and drinks</h4>
                </div>
            </div>

            @*History*@
            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/castle.png" alt="" class="img-responsive" />
                    </div>
                    <h4>History</h4>
                </div>
            </div>

            @*Nature*@
            <div class="col-md-3 col-sm-6">
                <div class="img-box-3-item">
                    <div class="img-box-3-icon">
                        <img src="~/content/img/flat-icons/waterfall.png" alt="" class="img-responsive" />
                    </div>
                    <h4>Nature</h4>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="margin-bottom-20"></div>

<div class="container">
    <div class="headline">
        <h3>Start planning now</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            @if (Request.IsAuthenticated)
            {
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._StartTripPlanningViewModel() { CircuitName = Model.Destination.Name, TemplateAlias = Model.Destination.TemplateSearchAlias };
                    @Html.Partial("_StartTripPlanning", _model)
                }
            }

            else
            {
                @Html.Partial("_JoinNowTripPlanning")
            }
        </div>
        <div class="col-md-6 col-sm-6">
            @if (Request.IsAuthenticated)
            {
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._DownloadBrochureModel() { CircuitName = Model.Destination.Name };
                    @Html.Partial("_DownloadBrochure", _model)
                }
            }
            else
            {
                if (Model != null && Model.Destination != null)
                {
                    @Html.Partial("_SubmitTripRequest", new WebApplication1.Models._SubmitTripRequestViewModel() { CircuitName = Model.Destination.Name });
                }
            }
        </div>
    </div>
</div>