@model WebApplication1.Models.DomingoModelBase

@{
    if (Model != null && Model.Destination != null)
    {
        ViewBag.Description = Model.Destination.MetaDescription;
        ViewBag.KeyWords = Model.Destination.MetaKeywords;
    }
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">@Model.PageName</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/India">India</a></li>
            <li><a href="/Circuit/India">All Circuits</a></li>
            <li class="active">@Model.Destination.Name</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
@Html.Partial("_DestinationViewHeader", Model)

<div class="container">
    <div class="row">
        <div class="col-md-12 padd-10">
            <img class="img-responsive" src="~/Content/img/India/goa01.jpg" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            @if (Request.IsAuthenticated)
            {
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._StartTripPlanningViewModel() { CircuitName = Model.Destination.Name, TemplateAlias = Model.Destination.TemplateSearchAlias };
                    @Html.Partial("_StartTripPlanning", _model)
                }
            }

            else
            {
                @Html.Partial("_JoinNowTripPlanning")
            }
        </div>
        <div class="col-md-6 col-sm-6">
            @if (Request.IsAuthenticated)
            {
                if (Model != null && Model.Destination != null)
                {
                    var _model = new WebApplication1.Models._DownloadBrochureModel() { CircuitName = Model.Destination.Name };
                    @Html.Partial("_DownloadBrochure", _model)
                }
            }
            else
            {
                if (Model != null && Model.Destination != null)
                {
                    @Html.Partial("_SubmitTripRequest", new WebApplication1.Models._SubmitTripRequestViewModel() { CircuitName = Model.Destination.Name });
                }
            }
        </div>
    </div>
</div>