@using System.Collections.Generic
@using DomingoBL;
@using DomingoDAL;

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_HomepageCarousel")

<div class="container">
    <div class="about-us-one">
        <div class="row">
            <div class="about-logo">
                <h1>Welcome to Travelogy <small class="color">the Club for travellers</small></h1>
                <p>We offer 360 degree solution for your travel. 
                Take a look at the exotic locations we offer. 
                Create a custom trip plan using our <a href="/service/TripPlanning" class="orange">FREE Trip Planning tool.</a>
                Get ideas for trips to India, Nepal, Bhutan, Tibet, Russia, Mongolia and Tanzania. 
                Get in touch with us for <a href="/service/TravelLogistics" class="orange">Logistics &amp; Support services</a> 
                in the destinations to make your exotic trips a great experience to remember.</p>                
            </div>
        </div>
    </div>
</div>



<hr class="margin-bottom-40">
<div class="row">
    <div class="col-sm-4 info-blocks">
        <i class="icon-lightbulb icon-info-blocks"></i>
        <div class="info-blocks-in">
            <h3>Great ideas for exotic trips</h3>
            <p>Great ideas for trips to India, Nepal, Bhutan, Tibet, Russia, Mongolia and Tanzania. The itineraries have been prepared by expert travellers.</p>
        </div>
    </div>
    <div class="col-sm-4 info-blocks">
        <i class="icon-laptop icon-info-blocks"></i>
        <div class="info-blocks-in">
            <h3>FREE Online trip planner</h3>
            <p>Use our online planning tool for planning, booking and managing your trips. </p>
        </div>
    </div>
    <div class="col-sm-4 info-blocks">
        <i class="icon-user icon-info-blocks"></i>
        <div class="info-blocks-in">
            <h3>Expert Travel advisers</h3>
            <p>Our service is backed up by expert advisers and local travel agencies in every location we offer. Have local knowlede at your fingertips</p>
        </div>
    </div>
</div>
<hr class="margin-bottom-20">

@if (Request.IsAuthenticated)
{
    List<DomingoBL.BlObjects.BlViewTrip> _allTrips = null;
    var blError2 = TripManager.GetAllTripsForUserByName(User.Identity.Name, out _allTrips);
    if(_allTrips != null && _allTrips.Count > 0)
    {
        <div>
            <h2 class="orange text-center">Your upcoming trip with Travelogy</h2>
            @Html.Partial("_TripPlanningPlannedTripSummary", _allTrips[0])
        </div>
    }
    else
    {
        <div class="row">
            @Html.Partial("_TripPlannerAdvert")
        </div>
    }
}

else
{   <!--End Tag Box v5-->

    @Html.Partial("_TripPlannerAdvert")

    <a href="/Account/Register"> <h1 class="text-center">Join now to start using the <span class="orange">FREE</span> Travelogy Trip Planner</h1></a>
}

<div class="container">
    <hr class="margin-bottom-40">
    <div class="row">
        <div class="headline">
            <h2 class="orange">Featured destinations</h2>
        </div>
        <div class="margin-bottom-20"></div>
    </div>

    <div class="row">
        @{
            List<Destination> _destinations = null;
            var blError = DestinationManager.GetTopDestinations(out _destinations, 4);
            foreach (var _destination in _destinations)
            {
                @Html.Partial("_DestinationWidgetMicro", _destination)
            }
        }
    </div>
    <div class="row">
        <div class="block-heading-twelve">
            <h1>More exciting destinations</h1>
            <a href="/circuit/India"><h3 class="color">India, Nepal &amp; Bhutan</h3></a>
            <h2>Explore the Himalayas - Biking trips, backpacking trips &amp; adventures trips.</h2>
            <h1 class="color">Photography trips in Varanasi and Pushkar, India.</h1>
            <h2>Explore the destinations for more ideas...</h2>
            <a href="/circuit" class="btn btn-u btn-orange">See all trip ideas</a>
        </div>
    </div>
</div>
