@model WebApplication1.Models.LocalTransferViewModel

@Html.Partial("_HomepageCarousel")

<div class="headline">
    <h2>Booking Request for Local Transfer</h2>
</div>  

<div class="row">    

    @if (Model.TripStepId > 0)
    {
        <div class="col-sm-12 info-blocks">
            <i class="icon-ok-sign icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>@Model.TripStepName</h3>
                <p>@Model.TripStepDescription</p>
                @if (Model.TripStepStartDate.HasValue && Model.TripStepEndDate.HasValue)
                {
                    <h6>@Model.TripStepStartDate.Value.ToShortDateString() - to - @Model.TripStepEndDate.Value.ToShortDateString() </h6>
                }
            </div>
        </div>
    }
</div>