@model WebApplication1.Models.RemoveDestinationFromTripViewModel

@Html.Partial("_HomepageCarousel")

@{
    var tripStep = Model.DlTripStep;
    var trip = Model.DlTrip;

    using (Html.BeginForm("RemoveDestinationFromTripAsync", "Service", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(p => p.DlTripStep.Id)
        @Html.HiddenFor(p => p.DlTripStep.TripId);

        <div class="alert alert-danger">
            <h3 class="red">Are you sure you want to remove <strong>@tripStep.Destination</strong> from your trip @trip.NickName to @trip.Name?</h3>
            <p>This will also remove all your bookings that you have requested.</p>
            <div class="margin-bottom-20"></div>
            <p>
                <button name="submit" class="btn-u btn-u-red" type="submit" value="remove">Yes I am sure, Remove it</button>
                <button name="submit" class="btn-u btn-u-sea" type="submit" value="keep">I changed my mind, keep it</button>
            </p>
        </div>
    }


}

 