@model WebApplication1.Models.TripPlanningViewModel

@{
    ViewBag.Title = "Trip Planner";
}

@Html.Partial("_HomepageCarousel")

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
    <div class="container">
        <h1 class="pull-left">Trip planner</h1>
        <ul class="pull-right breadcrumb">
            <li>Explore</li>
            <li>Plan</li>
            <li class="active">Book</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->


@if (!Request.IsAuthenticated)
{
    @Html.Partial("_TripPlanningNotLoggedInView")
}
else // for logged in users
{
    // user has not created any trip yet
    // show the create options
    if (Model.AllTrips == null || Model.AllTrips.Count == 0)
    {
        <div class="row tag-box tag-box-v5">
            <div class="col-md-8">
                <span>You have not planned any trip yet!</span>
            </div>
            <div class="col-md-4">
                <a href="/circuit">
                    <p><button class="btn-u btn-u-lg btn-u-orange"><i class="icon-cloud"></i> Browse all circuits...</button></p>
                </a>                
            </div>
        </div>

        <div class="container">
            <div class="row tag-box tag-box-v1">
                <h1 class="orange">Featured circuits</h1>
                <div class="row">
                    @for (var i = 0; i < Model.SuggestedDestinations.Count; i++)
                    {
                        if (i % 4 == 0)
                        {
                            @Html.Raw("<div class=\"row\">");
                        }

                        {
                            var item = Model.SuggestedDestinations[i];
                            @Html.Partial("_DestinationWidget", item)
                        }

                        if (i % 4 == 3)
                        {
                            @Html.Raw("</div>");
                        }

                        if (i == Model.SuggestedDestinations.Count - 1)
                        {
                            @Html.Raw("</div>");
                        }
                    }                    
                </div>
            </div>
        </div>
    }

    // planned trips
    else if (Model.PlannedTrips != null && Model.PlannedTrips.Count > 0)
    {
        foreach (var trip in Model.PlannedTrips)
        {
            Html.RenderPartial("_TripPlanningPlannedTripSummary", trip);
        }

        <div class="row tag-box tag-box-v5">
            <div class="col-md-8">
                <span>Planned more trips for future!</span>
            </div>
            <div class="col-md-4">
                <a href="/circuit">
                    <p><button class="btn-u btn-u-lg btn-u-orange"><i class="icon-cloud"></i> Browse all circuits...</button></p>
                </a>
            </div>
        </div>
    }
}





